<form [formGroup]="editForm" id="raiseRequestForm" (validSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title">Edit Raise Request </h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-wrap align-items-baseline">
          <div class="form-group form-input-line col-4">
          <label class="col-form-label" for="name">Request No</label>
          <input type="text"  class="form-control" id="requestNo" name="requestNo" 
            formControlName="requestNo" disabled>
          </div>
          <div class="form-group form-input-line col-4">
            <label class="col-form-label" for="name">Request Type</label>
            <input type="text"  class="form-control" id="requestType" name="requestType" 
              formControlName="requestType">
          </div>
          <div class="form-group form-input-inline input-group col-4">
            <label class="col-form-label" for="requestedDate">Request Date</label>
            <div class="input-group">
              <input type="text" class="form-control"  id="requestedDate" name="requestedDate"  formControlName="requestedDate" disabled>
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary fal fa-calendar-alt" 
                      type="button" disabled></button>
              </div>
          </div>
          </div> 
      </div>
  
      <div class="d-flex flex-wrap align-items-baseline">
        <div class="form-group form-input-line col-6">
          <label class="col-form-label" for="name">Request For</label>
          <select class="form-control" (ngModelChange)="getvalue($event)" formControlName="requestFor" id="requestFor" 
            name="requestFor">
            <option [ngValue]="0" disabled>Select requestFor</option>
            <option *ngFor="let key of raiseRequestKeys" [ngValue]='key'>{{raiseRequesttype[key]}}</option>
        </select>
        </div>
        <div class="form-group form-input-line col-6">
          <label class="col-form-label" for="nameOfTeamMember">Name of Team Member</label>
          <input type="text" class="form-control rounded-0 border-top-0 border-left-0 border-right-0 px-0" [attr.disabled]="isDisable?true:null"
              id="nameOfTeamMember" name="nameOfTeamMember" [ngbTypeahead]="search" 
              [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false'
              placeholder="Search Employee" formControlName="nameOfTeamMember" (change)="checkTeammemberName()">
        </div>
      </div>

      <div class="d-flex flex-wrap align-items-baseline">
          <div class="form-group form-input-line col-6">
            <label class="col-form-label" for="name">Asset Type</label>
            <select class="form-control" formControlName="assetTypeId" id="assetTypeId"
                  name="assetTypeId">
                  <option [ngValue]="0" disabled>Select Assettype</option>
                  <option *ngFor="let key of assetTypeArray" [ngValue] = "key.id">{{key.assettypename}}</option>
              </select>
          </div>
          <div class="form-group form-textarea-line col-6">
            <label class="col-form-label" for="description">Description</label>
            <textarea type="text" rows="3" class="form-control" id="description" name="description"
              formControlName="description"></textarea>
          </div>
      </div>
  
  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="activeModal.close('Close click')"><i
            class="mr-1 fal fa-window-close"></i> Cancel</button>
        <button type="submit" class="btn btn-success"><i class="mr-1 fal fa-save"></i>Save</button>
      </div>
  </form>
  