<div class="subheader">
    <h1 class="subheader-title">
        <div>
            Holidays
        </div>
    </h1>

</div>
<div id="panel-2" class="p-3 card">

    <div class="button-right-wrapper">
        <button class="btn btn-success btn-add" (click)="openCreateCategory()"><i
                class="fa fal fa-plus fa-plus mr-1"></i> Add Holiday List</button>
    </div>

    <ngb-accordion [closeOthers]="true" activeIds="static-{{this.firstOpen}}" class="accordion accordion-outline">
        
        <ngb-panel *ngFor="let category of holidayCategories;" id="static-{{category.id}}" title="{{category.name}}">
        
            <ng-template ngbPanelHeader let-opened="opened">
        
                <div class="card-header d-inline-flex justify-content-between w-100">
        
                    <button ngbPanelToggle class="card-title btn w-100" (click)="getHolidays(category.id)">
                        
                        <i class="fal fa-list-alt width-2 fs-xl"></i>
                        <span class="text-capitalize">{{category.name}} {{category.year}}</span>

                        <i title="Configured" *ngIf="category?.isConfigured"
                            class="fal fa-check-circle width-2 fs-xl text-success"></i>

                        <i title="Not Configured" *ngIf="!category?.isConfigured"
                            class="fal fa-exclamation-circle width-2 fs-xl text-warning"></i>
                            
                    </button>
                    <div class="button-right-wrapper" *ngIf="!isDisabled(category)">
                        <button class="btn btn-primary  btn-sm text-nowrap mr-2 mt-2" (click)="openCreateHoliday(category)">
                        <i class="fa fal fa-cog mr-1"></i> Add Holiday
                    </button>
                </div> 
        
                    <div class="btn-group" dropdown container="main">
        
                        <button id="button-basic" dropdownToggle type="button"
                            class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                            <span class="caret"></span>
                        </button>
        
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="button-basic">
        
                            <li role="menuitem" (click)="openEditCategory(category)">
                                <a class="dropdown-item">Edit</a>
                            </li>
        
                            <li role="menuitem" (click)="!isDisabled(category) && deleteCategory(category)">
                                <a [ngClass]="{'disabled': isDisabled(category)}" class="dropdown-item">Delete</a>
                            </li>
        
                        </ul>
                    </div>
                </div>
            </ng-template>
        
            <ng-template ngbPanelContent>

                <table class="table table-striped table-light">
        
                    <thead class="thead-light">
                        <tr>
                            <th>Sl No.</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Is floating</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
        
                    <tbody>
        
                        <tr *ngFor="let holiday of holidays; let i= index;">
        
                            <td>{{i+1}}</td>
                            <td class="text-capitalize">{{holiday.name}}</td>
                            <td class="text-ellipsis" title="{{holiday.description}}">{{holiday.description}}</td>
                            <td>{{holiday.date| date: 'dd-MM-yyyy'}}</td>
                            <td>
                                <span *ngIf="holiday.isFloating">Yes</span>
                                <span *ngIf="!holiday.isFloating">No</span>
                            </td>
                            <td>
                                <div class="btn-group" dropdown container="main">
                                    
                                    <button id="button-basic" dropdownToggle type="button"
                                        class="border-0 mr-2 pr-2 dropdown-toggle btn-more"
                                        aria-controls="dropdown-basic">
                                        <span class="caret"></span>
                                    </button>
                                    
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                        role="menu" aria-labelledby="button-basic">
                                    
                                        <li role="menuitem" (click)="openEditHoliday(holiday, category)">
                                            <a class="dropdown-item">Edit</a>
                                        </li>
                                        <li role="menuitem" (click)="openViewHoliday(holiday, category)">
                                            <a class="dropdown-item">View</a>
                                        </li>
                                        <li role="menuitem" (click)="!isDisabled(category) && deleteHoliday(holiday)">
                                            <a [ngClass]="{'disabled': isDisabled(category)}" class="dropdown-item">Delete</a>
                                        </li>
                                    </ul>

                                </div>
                            </td>
                        </tr>

                        <tr *ngIf="!holidays?.length">
                            <td colspan="6" class="text-center">
                                No rows found
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>

</div>