<div class="subheader">
    <h1 class="subheader-title">
      <div>
       View Employee Payroll Parameter details
    </div>
    </h1>
  </div> 
<form [formGroup]="editForm" id="payrollParameterDetailsForm" >
    <div class="card p-3" id="addEmployee">
    <div class="p-3"> 
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="userVariableId">User Variables</label>
                <select disabled class="form-control" formControlName="userVariableId" (change)="onChangeEvent($event)">
                    <option [ngValue]="null" disabled>Select User Variable</option>
                    <option *ngFor="let item of userVariableDetails" [ngValue]='item.id'>
                        {{item.name}}
                    </option>
                </select>
            </div>
            <div class="form-group form-input-line col-6">
                <label class="col-form-label"  for="variableTypeName">Variable Type</label>
                <input  readonly   autocomplete="off" type="string" class="form-control" id="type" name="variableTypeName" formControlName="variableTypeName">
            </div>
            
            </div>
            <div class="row align-items-baseline">
                <div class="form-group form-input-line col-6">
                    <label for="employeeId">
                        Employee
                    </label>      
                    <input type="text" class="form-control"  disabled formControlName="employeeId">
                </div>
            <div class="form-group form-input-inline input-group col-6">
                <label class="col-12 col-form-label px-0" for="transDate">Date</label>
                <input readonly class="form-control w-75" name="newDate" formControlName="transDate"
                    [minDate]="{year: 1900, month: 1, day: 1}" ngbDatepicker #dob="ngbDatepicker">
                <div class="input-group-append">
                    <button disabled class="btn btn-outline-secondary fal fa-calendar-alt" (click)="dob.toggle()"
                        type="button"></button>
                </div>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-6">
                <label class="col-form-label"  for="transValue">Values</label>
                <input readonly autocomplete="off" type="string" class="form-control" id="transValue" name="values" formControlName="transValue">
            </div>
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="statusName">Status</label>
                <input readonly type="text" class="form-control" value="pending" formControlName="statusName" disabled>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-6 mb-3">
                <label class="col-form-label" for="remarks">Remarks</label>
                <textarea readonly type="text" rows="4" class="form-control" formControlName="remarks"></textarea>
            </div>
        </div>
    <div class="modal-footer">
        <a routerLink="/employee-payroll-parameter-details">
            <button type="button" class="btn btn-outline-primary btn-sm btn-redirect btn-tab-right"><i class="mr-1 fal fa-window-close"></i> Back</button>
        </a>
    </div>    
</div>
</div>
</form>
