<form [formGroup]="editForm" id="overtimeRequestForm" (validSubmit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title">Edit Overtime Request</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="selectEnable" style="display: flex;flex-direction: row;">
        <label style="padding-left: 20px;padding-top: 10px;">Employee Name</label>
        <select disabled class="form-control col-sm-7" style="margin-left: 50px;" formControlName="employeeName"  (change)="getEmployeeId($event.target.value)">
            <option [ngValue]="null" disabled>Select Employee Name</option>
            <option *ngFor="let list of employeeDetails" value={{list.firstName}}>
                {{list.firstName}}
            </option>
        </select>
    </div>
    <div *ngIf="!selectEnable" style="display: flex;flex-direction: row;">
    <label style="padding-left: 20px;padding-top: 10px;">Employee Name</label>
    <!-- <select  disabled class="form-group col-sm-6" style="margin-left: 50px;" formControlName="employeeName">
        <option *ngFor="let list of employeeDetails" value={{list.id}}>
            {{list.firstName}}
        </option>
    </select> -->
    <input type="text" disabled class="form-control col-sm-7" style="margin-left: 50px;" formControlName="employeeName">
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-sm">
                <label for="fromDate">From<span class="required">*</span></label>
                <div class="input-group">
                    <input class="form-control" [minDate]="minDateFrom" [maxDate]="maxDateFrom" ngbDatepicker [markDisabled]="markDisabled" 
                    #fromDate="ngbDatepicker" formControlName="fromDate" (dateSelect)="onFromDateSelection($event)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary fal fa-calendar-alt" (click)="fromDate.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm">
                <label for="toDate">To<span class="required">*</span></label>
                <div class="input-group">
                    <input class="form-control" [minDate]="minDateTo" [maxDate]="maxDateTo" ngbDatepicker [markDisabled]="markDisabled"
                    #toDate="ngbDatepicker" formControlName="toDate" (dateSelect)="onToDateSelection($event)">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary fal fa-calendar-alt" (click)="toDate.toggle()" type="button"></button>
                    </div>
                </div>
            </div> 
        </div>

        <div class="form-group">
            <label for="numberOfHours">Overtime Hours<span class="required">*</span></label>
            <input type="number" formControlName="numberOfHours" class="form-control" id="numberOfHours">    
        </div> 
        <div class="row">
            <div class="form-group col-sm-4">
              <label for="normalOverTime">Normal Overtime</label>
              <input type="number" formControlName="normalOverTime" class="form-control" id="normalOverTime">
            </div>  
            <div class="form-group col-sm-4">
                <label for="holidayOverTime">Holiday Overtime</label>
                <input type="number" formControlName="holidayOverTime" class="form-control" id="holidayOverTime">
            </div>
            <div class="form-group col-sm-4">
                <label for="specialOverTime">Special Overtime</label>
                <input type="number" formControlName="specialOverTime" class="form-control" id="specialOverTime">
            </div>
        </div> 
        <div class="form-group">            
            <span *ngFor="let item of selectedItems" class="badge border border-primary tag">{{ item.firstName }} 
                <span class="fal fa-times ml-1 text-primary mr-1 link" (click)="remove(item)"></span>
            </span>
                <input type="text" class="form-control rounded-0 border-top-0 border-left-0 border-right-0 px-0"
             id="notifyPersonnel" name="notifyPersonnel" [ngbTypeahead]="search" (selectItem)="selected($event)" 
             #notifyPersonnel [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false' placeholder="Notify">             
        </div> 
        
        <div class="form-group">
            <label for="reason">Reason</label>
                <textarea class="form-control" id="reason" placeholder="Please enter reason for applying overtime" formControlName="reason" ></textarea>
        </div>         

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><i class="mr-1 fal fa-save"></i>Save</button>
        <button type="button" class="btn btn-warning" (click)="activeModal.close('Close click')"><i
                class="mr-1 fal fa-window-close"></i> Cancel</button>
    </div>
</form>