<div id="PayrollConfiguration">
    <form [formGroup]="editForm" (validSubmit)="onSubmit()">

        <div class="header-button-wrapper mt-3">

            <div class="content-subheader">Reimbursable</div>
        </div>

        <div class="custom-checkbox with-input">
            <label class="align-items-baseline d-flex" for="maximumLimit">Maximum Limit per Annum
                <div class="form-input-inline form-group ml-1">

                    <input type="number" (change)='updateValidation($event.target.value)' class="form-control  mr-1"
                        id="maximumLimit" formControlName="maximumLimit" (keydown)="validateNumber($event)">
                </div>
            </label>
        </div>

        <div class="custom-control custom-checkbox form-group">
            <input type="checkbox" class="custom-control-input"
                [checked]="payrollConfiguration.isPartOfArrearCalculation" id="isPartOfArrearCalculation"
                formControlName="isPartOfArrearCalculation">
            <label class="custom-control-label" for="isPartOfArrearCalculation">
                Include this component in arrears calculation
            </label>
        </div>

        <div class="custom-control custom-checkbox form-group">
            <input type="checkbox" class="custom-control-input" [checked]="payrollConfiguration.isProofRequired"
                id="isProofRequired" formControlName="isProofRequired">
            <label class="custom-control-label" for="isProofRequired">
                Requires employee to submit proof
            </label>
        </div>

        <div class="custom-control custom-checkbox custom-switch form-group">
            <input type="checkbox" #isPaidSeparately class="custom-control-input" (change)="onChange($event.target)"
                [checked]="payrollConfiguration.isPaidSeparately" id="isPaidSeparately"
                formControlName="isPaidSeparately">
            <label class="custom-control-label" for="isPaidSeparately">
                Is this component paid seperately?
            </label>
        </div>

        <div class="custom-control custom-checkbox form-group" [hidden]="isPaidSeparately.checked">
            <input type="checkbox" class="custom-control-input" [(checked)]="payrollConfiguration.isVisibleInPayslip"
                id="isVisibleInPayslip" formControlName="isVisibleInPayslip">
            <label class="custom-control-label" for="isVisibleInPayslip">
                Hide component in payslip (and exclude from gross earnings calculation in payslip)
            </label>
        </div>

        <div class="custom-control custom-checkbox custom-switch form-group">
            <input type="checkbox" class="custom-control-input" (change)="onUpdate($event.target.checked)"
                [checked]="isUpdateFieldRequired" id="isUpdateRequired" name="isUpdateRequired">
            <label class="custom-control-label" for="isUpdateRequired">
                Do you wish to update the claim frequency, amount per claim and payout pattern?
            </label>
        </div>

        <div class="form-group" *ngIf="isUpdateFieldRequired">
            <div class="custom-checkbox with-input mt-3 form-group">
                <label for="claimFrequency"> Claim Frequency
                    <select formControlName="claimFrequency" class="d-inline form-control">
                        <option [ngValue]='null' disabled>Select Claim Frequency</option>
                        <option *ngFor="let key of claimFrequencyTypeKeys" [ngValue]='key'>
                            {{claimFrequencyTypes[key]}}
                        </option>
                    </select>
                </label>
            </div>

            <div class="custom-checkbox with-input mt-3 form-group">
                <label for="claimLimit">Amount per claim
                    <input type="number" class="d-inline form-control ml-1 mr-1" id="claimLimit"
                        formControlName="claimLimit">
                </label>
            </div>

            <div class="custom-checkbox with-input mt-3 form-group">
                <label for="payoutPattern"> Payout Pattern
                    <select formControlName="payoutPattern" class="d-inline form-control">
                        <option [ngValue]='null' disabled>Select a Payout Pattern</option>
                        <option *ngFor="let key of payoutPatternTypeKeys" [ngValue]='key'>
                            {{payoutPatternTypes[key]}}
                        </option>
                    </select>
                </label>
            </div>
        </div>

        <div class="custom-control custom-checkbox custom-switch form-group">
            <input type="checkbox" #isLossOfPayAffected class="custom-control-input" (change)="onChange($event.target)"
                [checked]="payrollConfiguration.isLossOfPayAffected" id="isLossOfPayAffected"
                formControlName="isLossOfPayAffected">
            <label class="custom-control-label" for="isLossOfPayAffected">
                Does Loss of Pay due to employee attendance effect the value of this component?
            </label>
        </div>

        <div class="custom-control custom-checkbox form-group" [hidden]="isLossOfPayAffected.checked">
            <input type="checkbox" class="custom-control-input"
                [(checked)]="payrollConfiguration.isDifferenceAmountAdjustable" id="isDifferenceAmountAdjustable"
                formControlName="isDifferenceAmountAdjustable">
            <label class="custom-control-label" for="isDifferenceAmountAdjustable">
                Adjust the difference amount against special allowance
            </label>
        </div>

        <div class="custom-control custom-checkbox form-group">
            <input type="checkbox" class="custom-control-input"
                [checked]="payrollConfiguration.isCustomizedAndOverridenAtEmployeeLevel"
                id="isCustomizedAndOverridenAtEmployeeLevel" formControlName="isCustomizedAndOverridenAtEmployeeLevel">
            <label class="custom-control-label" for="isCustomizedAndOverridenAtEmployeeLevel">
                Allow this component to be customized and overridden at employee level
            </label>
        </div>

        <div class="button-right-wrapper mt-3" *ngIf="!isView">
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>