::ng-deep .tableHead{
    background-color: #dee2e6 !important;
        background-image: linear-gradient(to top, #dee2e6, #f8f9fa) !important
}

::ng-deep .pi-fw {
    width: 1.28571429em;
    text-align: center;
    color: #9ea3a7 !important;
}