<form [formGroup]="editForm" id="basicDetailsForm" (validSubmit)="onSubmit()">
    <div class="p-3">
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label"  for="firstName">First Name<span class="required">*</span></label>
                <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName"
                (input)="checkCodeName($event.target.value)" autocomplete="off">
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label"  for="middleName">Middle Name</label>
                <input type="text" class="form-control" id="middleName" name="middleName" formControlName="middleName" autocomplete="off">
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label"  for="lastName">Last Name<span class="required">*</span></label>
                <input type="test" class="form-control" id="lastName" name="lastName" formControlName="lastName" autocomplete="off">
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label"  for="displayName">Display Name<span class="required">*</span></label>
                <input type="text" class="form-control" id="displayName" name="displayName"
                    formControlName="displayName" autocomplete="off">
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="gender">Select Gender<span class="required">*</span></label>
                <select class="form-control" formControlName="gender">
                    <option [ngValue]="null" disabled>Select Gender</option>
                    <option *ngFor="let key of genderTypeKeys" [ngValue]='key'>{{genderType[key]}}</option>
                </select>
            </div>
            <div class="form-group form-input-inline input-group col">
                <label class="col-12 col-form-label px-0" for="dateOfBirth">Date of Birth<span class="required">*</span></label>
                <input class="form-control w-75" name="newDate" formControlName="dateOfBirth" [minDate]="{year: 1900, month: 1, day: 1}"
                     ngbDatepicker #dob="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary fal fa-calendar-alt" (click)="dob.toggle()"
                        type="button"></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group form-input-line col-sm-4">
                <label class="col-form-label"  for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email" autocomplete="off">
            </div>
            <div class="form-group form-input-line col-sm-4">
                <label class="col-form-label" for="fileNumber">File Number</label>
                <input type="text" class="form-control" id="fileNumber" name="fileNumber" formControlName="fileNumber" autocomplete="off">
            </div>
            <div class="form-group form-input-line col-sm-4" >
                <label class="col-form-label" for="religionId"
                  >Religion<span class="required">*</span></label
                >
                <div class="input-group">
                <p-dropdown [(ngModel)]="relName" [ngModelOptions]="{standalone: true}" class="pngCustomClass" [options]="religion" optionValue="id"
                 (onChange)="selectReligion($event)" optionLabel="name" placeholder="Select religion" dataKey="id" name="religionId">
                  <ng-template let-item pTemplate="item" >  
                    <div class="dd-values" *ngIf="!(item?.value?.isLastRow)" >
                      {{item?.value.name}} 
                    </div> 
                    <div class="dd-values-refresh " *ngIf="item?.value?.isLastRow" (click)="reloadDocTypes($event)">
                      <a class="link-primary ref">Refresh</a>
                   </div>
                </ng-template>
                </p-dropdown>
              </div> 
              <div class="d-flex justify-content-between align-items-center">
                <div *ngIf="this.editForm.get('religionId').touched && this.editForm.get('religionId').invalid" class="invalid-feedback d-block">
                    Religion* is required
                </div>
            </div> 
              </div>

        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm-4">
                <label class="col-form-label" for="uidNumber">UID<span class="required">*</span></label>
                <input autocomplete="off"  maxlength="15" (keypress)="keyPressNumbers($event)" type="text" class="form-control" id="uidNumber" name="uidNumber" formControlName="uidNumber">
            </div>  
            <div class="form-group form-input-line col-sm-4">
                <label class="col-form-label"  for="languageKnown">Language Known</label>
                <input type="text" class="form-control"  formControlName="languageKnown" add oninput="this. value = this. value. toUpperCase()">
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label"  for="refNum">Ref Number</label>
                <input type="text" class="form-control"  formControlName="refNum">
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm-4">
                <label class="col-form-label"  for="remarks">Remarks</label>
                <textarea type="text" class="form-control" style="height:100px"  formControlName="remarks"></textarea>
            </div>
            <div class="form-group form-input-line col-sm-8" style="padding-left: 48%;position: relative;top:90px" >
                <button type="submit" class="mr-2 btn btn-success" ><i class="mr-1 fal fa-save"></i> Save</button>
                <a routerLink="/employee">
                   
                    <button type="button" class="btn btn-warning"><i class="mr-1 fal fa-window-close"></i> Cancel</button>
                </a>
            </div>
        </div>
    </div>
 
</form>