<form [formGroup]="myAssetViewForm">
    <div class="modal-header">
        <h4 class="modal-title">My Asset</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="allocatedDate">Date Allocated</label>
                    <input type="text"  formControlName="allocatedDate" class="form-control" name="allocatedDate">
                </div>
                <div class="form-group">
                    <label for="assetType">AssetTypeName</label>
                    <input type="text"  formControlName="assetTypeName" class="form-control" name="assetTypeName">
                </div>
                <div class="form-group">
                    <label for="assetName">Asset Name</label>
                    <input type="text"  formControlName="assetName" class="form-control" name="assetName">
                </div>
                <div class="form-group">
                    <label for="assetId">Asset Id</label>
                    <input type="text"  formControlName="assetId" class="form-control" name="assetId">
                </div>      
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text"  formControlName="description" class="form-control" name="description" >
                </div>
            </div>
            <div class="col-sm" formGroupName="metadatas">                 
                <div class="form-group" *ngFor="let mdata of typeKeys;">
                    <label for="{{mdata}}">{{mdata}}</label>
                    <input type="text"  formControlName="{{ mdata }}"
                     class="form-control" name="{{mdata}}"  placeholder="{{ mdata }}" disabled>
                </div>           
            </div>   
        </div>        
    </div>
</form>

