<form [formGroup]="viewForm">
    <div class="modal-header">
        <h4 class="modal-title">View ADOC Earnings & Deductions</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group  col-6">
                <label class="col-form-label" >Employee<span class="required">*</span></label>
                <input type="text" class="form-control"  disabled  value="{{listItem.employeeName}}">
            </div>
            <div class="form-group form-input-inline input-group col-6">
                <label class="col-12 col-form-label px-0" for="date">Date<span class="required">*</span></label>
                <input class="form-control w-75" name="newDate" formControlName="date" readonly
                    [minDate]="{year: 1900, month: 1, day: 1}" ngbDatepicker #dob="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary fal fa-calendar-alt" (click)="dob.toggle()" disabled
                        type="button"></button>
                </div>
            </div>
            <div class="form-group  col-6">
                <label class="col-form-label" for="status">Status<span class="required">*</span></label>
                <input type="text" class="form-control" formControlName="status" disabled value="pending" readonly>
            </div>
            <div class="form-group  col-6">
                <label class="col-form-label" for="adhocBFCode">ADOC BF Code<span class="required">*</span></label>
                <input type="text" class="form-control" value="{{listItem.adhocBFCode}}" readonly>
            </div>
            <div class="form-group  col-6">
                <label for="amount">Amount<span class="required">*</span></label>
                <input type="text" class="form-control" formControlName="amount" readonly>
            </div>
            <div class="form-group col-6 mb-5">
                <label class="col-form-label" for="remarks">Remarks</label>
                <textarea type="text" rows="4" class="form-control" formControlName="remarks" readonly></textarea>
            </div>
        </div>
    </div>
</form>