<div class="card card-style">
    <div class="card-heading">
      Attendance Stats
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm">
        <div class="form-group mb-2">
          <select class="form-control" (change)="statsFilter($event.target.value)">
              <option selected value=1 >Last Week</option>
              <option value=2>Last Month</option>
          </select>
        </div>
        <div class="text-center" >My Stats</div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm mt-2">   
            <!-- <div class="row ml-5"> -->
              <div>
                <div class="text-black-50" style="text-align: center;">AVG HRS / DAY</div>
                <div class="content-subheader text-center mt-2 pb-2">{{statsAverageAttendance}} hrs</div>
              </div>
              <div>
                <div class="text-black-50" style="text-align: center;">ON TIME ARRIVAL</div>
                <div class="content-subheader text-center mt-2 pb-2">{{statsOnTime}} %</div>
              </div>
              <!-- <div [hidden]="!chart" >
                <canvas id="average" style="width: 125px !important; height: 125px !important;"></canvas>
              </div>
              <div [hidden]="!chart" class="ml-2">
                <canvas id="ontime" style="width: 125px !important; height: 125px !important;"></canvas>
              </div> -->
          </div>
      </div>
      </div>
    </div>