<form [formGroup]="editForm" id="jobFilingsForm" (validSubmit)="onSubmit()">
    <!-- <div class="modal-header">
        <h4 class="modal-title">Edit Job Fillings</h4>
    </div> -->
    <div class="p-3">
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="leaveStructureId">Leave Structure<span class="required">*</span></label>
                <select class="form-control" formControlName="leaveStructureId">
                    <option value="">Select Leave Structure</option>
                    <option *ngFor="let type of leaveStructureId" [ngValue]='type.id'>
                        {{type.name}}
                    </option>
                </select>
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="shiftId">Shift<span class="required">*</span></label>
                <select class="form-control" formControlName="shiftId">
                    <option value="">Select Shift</option>
                    <option *ngFor="let type of shiftId" [ngValue]='type.id'>
                        {{type.name}}
                    </option>
                </select>
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="weekOff">Week Off<span class="required">*</span></label>
                <select class="form-control" formControlName="weekOff">
                    <option [ngValue]="null" disabled>Select Week Off</option>
                    <option *ngFor="let key of weekOffTypeKeys" [ngValue]='key'>{{weekOffType[key]}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="holidayCategoryId">Holiday List<span class="required">*</span></label>
                <select class="form-control" formControlName="holidayCategoryId">
                    <option value="">Select Holidays</option>
                    <option *ngFor="let type of holidayCategoryId" [ngValue]='type.id'>
                        {{type.name}}
                    </option>
                </select>
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="attendanceTracking">Attendance Tracking<span class="required">*</span></label>
                <select class="form-control" formControlName="attendanceTracking">
                    <option [ngValue]="null" disabled>Select Attendance Tracking</option>
                    <option *ngFor="let key of attendanceTrackingTypeKeys" [ngValue]='key'>
                        {{attendanceTrackingType[key]}}</option>
                </select>
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="expensePolicyId">Expense Policy</label>
                <select class="form-control" formControlName="expensePolicyId">
                    <option value="" disabled>Select Expense Policy</option>
                    <option *ngFor="let type of expensePolicyId" [ngValue]='type.id'>
                        {{type.name}}
                    </option>
                </select>
            </div>
            <!-- <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="expensePolicy">Expense Policy</label>
                <select class="form-control" formControlName="expensePolicy">
                    <option [ngValue]="null" disabled>Select Expense Policy</option>
                    <option *ngFor="let key of expensePolicyTypeKeys" [ngValue]='key'>
                        {{expensePolicyType[key]}}</option>
                </select>
            </div> -->
        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm-4">
                <label class="col-form-label" for="attendanceCaptureScheme">Attendance Capture Scheme<span class="required">*</span></label>
                <select class="form-control" formControlName="attendanceCaptureScheme">
                    <option [ngValue]="null" disabled>Select Attendance Capture Scheme</option>
                    <option *ngFor="let key of attendanceCaptureSchemeTypeKeys" [ngValue]='key'>
                        {{attendanceCaptureSchemeType[key]}}</option>
                </select>
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="payrollStructureId">Payroll Structure<span class="required">*</span></label>
                <select class="form-control" formControlName="payrollStructureId">
                    <option value="" disabled>Select Payroll Structure</option>
                    <option *ngFor="let type of payrollStructureId" [ngValue]='type.id'>
                        {{type.name}}
                    </option>
                </select>
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="payGroupId">Pay Group<span class="required">*</span></label>
                <select class="form-control" formControlName="payGroupId">
                    <option value="" disabled>Select Pay Group</option>
                    <option *ngFor="let type of payGroupId" [ngValue]='type.id'>
                        {{type.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm-4">
                <label class="col-form-label" for="overTimePolicyId">Over Time Policy<span class="required">*</span></label>
                <select class="form-control" formControlName="overTimePolicyId">
                    <option value="" disabled>Select Over Time Policy</option>
                    <option *ngFor="let type of overTimePolicyId" [ngValue]='type.id'>
                        {{type.name}}
                    </option>
                </select>
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" class="col-form-label">Please select the mode of salary transfer for employee<span class="required">*</span></label>
                <div class="col-sm-7 py-2">
                    <div class="form-check-inline" payment>
                        <div *ngFor="let key of paymentModeKeys" payment="key"
                            class="custom-control custom-radio custom-control-inline " (click)="selectPayment(key)" >
                            <input type="radio" class="custom-control-input" name="paymentMode" id="payment{{key}}"
                                formControlName="paymentMode" [value]="key">
                            <label class="col-form-label" for="payment{{key}} " class="custom-control-label">{{paymentMode[key]}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group form-input-line col-sm-4">
                <label class="col-form-label" for="">EOS Type</label>
                <select class="form-control" formControlName="eosId"  (change)='onOptionsSelected()'>
                    <option value="" disabled>Select EOS Type</option>
                    <option  style="width: 100px;" *ngFor="let items of eosTypes" [ngValue]='items.id'>
                        <div style="width: 130px;">{{items.bfName}}</div>
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: -50px;">
        <button type="submit" class="mr-1 btn btn-success"><i class="mr-1 fal fa-save"></i> Save</button>
        <a routerLink="/employee">
            <button type="button" class="btn btn-warning"><i class="mr-1 fal fa-window-close"></i> Cancel</button>
        </a>
    </div>
</form>