<div id="employeeJobTitleList">
    <div class="modal-header">
        <h4 class="modal-title">{{ jobTitle.name }} - Employee List</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead class="thead-themed">
                <tr>
                    <th>Sl No.</th>
                    <th>Employee Number</th>
                    <th>Employee Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeList; let i= index;">
                    <td>{{i+1}}</td>
                    <td>{{employee.employeeNumber}}</td>
                    <td>{{employee.employeeName}}</td>
                </tr>
                <tr *ngIf="!employeeList?.length">
                    <td colspan="3" class="text-center">
                        No rows found
                    </td>
                </tr>
            </tbody>
        </table>            
    </div>
</div>
