<div class="subheader">
    <h1 class="subheader-title">
        Employee Encashment
    </h1>
  </div>
  <div id="employeeencashment" class="panel">
    <div class="panel-container show">
        <div class="panel-content">
            <div class="row">
                <div class="col-md">
                    <button (click)="createEncashment()" class="btn btn-success mb-2 float-right"><i class="fa fal fa-plus fa-plus mr-1"></i>Encashment  Create</button>
                </div>
            </div>   
            <div class="frame-wrap">
                <table class="table m-0">
                    <thead class="thead-themed">
                        <tr>
                            <th>Sl No.</th>
                            <th>Request Number</th>
                            <th>Requested Date</th>
                            <th>Employee Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let request of encashmentRequest; let i= index;">
                            <td>{{i+1}}</td>
                            <td>{{request.requestNum}}</td>
                            <td>{{request.requestDate | date: 'dd-MM-yyyy'}}</td>
                            <td>{{request.employeeName}}</td>
                            <td>
                                <div class="btn-group" dropdown container="main">
                                    <button id="button-basic" dropdownToggle type="button"
                                        class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                                        aria-labelledby="button-basic">
                                        <li role="menuitem" (click)=" openView(request.id)">
                                            <a class="dropdown-item">View</a>
                                        </li>
                                        <li role="menuitem" (click)="openEdit(request.id)">
                                            <a  class="dropdown-item">Edit</a>
                                        </li>
                                        <li role="menuitem" (click)="process(request.id)">
                                            <a  class="dropdown-item">Process</a>
                                        </li>
                                        <li role="menuitem" (click)="delete(request.id)">
                                            <a  class="dropdown-item">Delete</a>
                                        </li>
                    
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!encashmentRequest?.length">
                            <td colspan="7" class="text-center">
                                No rows found
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
