<div class="subheader">
    <h1 class="subheader-title">
      <div>Print leave</div>
    </h1>
  </div>
  
  <div class="card p-3" id="printLeave">
    <div>
      <button
        routerLink="/leave"
        class="btn btn-outline-primary btn-sm btn-redirect btn-tab-right"
      >
        <i class="fal fa-arrow-left mr-2"></i> Back to Employee
      </button>
    </div>
    <div style="height: 67vh" class="pt-6">
      <app-reportviewer id="leaveRequest-view"> </app-reportviewer>
    </div>
  </div>
  