<div class="subheader">
    
  <div style="font-size: medium;">Print Leave Details</div>

</div>
<div class="card p-3" id="printLeave">

  <div>
  
   <button
  
  routerLink="/leave"
  
 class="btn btn-outline-primary btn-sm btn-redirect btn-tab-right"
  
  >
  
  <i class="fal fa-arrow-left mr-2"></i> Back to Leave
  
 </button>
  
   </div>
    <div style=" display: flex; justify-content: center; align-items: center;" class=" pb-5 "  id="componentID">
      <div  style="height: 80vh" class="pt-6">
      <app-reportviewer  id="leaveRequest-view"> </app-reportviewer>
      </div>
  </div>
 
  