<form>
    <div class="modal-header">
        <h4 class="modal-title">Ticket</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="travelFrom">Travel From</label>
                <input type="text" class="form-control" name="travelFrom" value="{{ relDetails.travelFrom }}"
                    disabled />
            </div>
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="travelTo">Travel To</label>
                <input type="text" class="form-control" name="travelTo" value="{{ relDetails.travelTo }}"
                    disabled />
            </div>
        </div>
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="travelMode">Travel Mode<span class="required">*</span></label>
                <input type="string" class="form-control" id="travelMode" name="travelMode" formControlName="travelMode">
            </div>
            <div class="form-group form-input-inline input-group col-6">
                <label class="col-12 col-form-label px-0">Date</label>
                    <input readonly class="form-control" formControlName="travelDate" [minDate]="{year: 2023, month: 1, day: 1}"
                        [maxDate]="{year: 2050, month: 1, day: 1}" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                            <i class="fal fa-calendar-alt"></i>
                        </button>
                    </div>
            </div>
        </div>
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="isRoundTrip">Round Trip</label>
                <input type="text" class="form-control" name="isRoundTrip"
                    value="{{ relDetails.isRoundTrip }}" disabled />
            </div>
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="amount">Ticket Amount</label>
                <input type="text" class="form-control" name="amount" value="{{ relDetails.amount }}"
                    disabled />
            </div>
        </div>
    </div>
</form>
