<div class="p-3">
    <div class="py-2 bg-gray-400 d-flex justify-content-between">
        <div>
            <span class="ml-2 font-weight-bold">Salary Details</span>
            <!-- Annual amount + Bonus
            <span class="ml-2 font-weight-bold" *ngIf="salary.salary?.length">INR {{salary.yearlySum + bonus.bonusTotal | number : '1.0-2'}}</span>
            <span class="ml-2 font-weight-bold" *ngIf="!salary.salary?.length">INR {{0 + bonus.bonusTotal | number : '1.0-2'}}</span> -->
        </div>
    </div>

    <hrms-employee-salary-view #salary></hrms-employee-salary-view>

    <!-- <div class="py-2 bg-gray-400 d-flex justify-content-between">
        <div>
            <span class="ml-2 font-weight-bold">Bonus total:</span>
            <span class="ml-2 font-weight-bold">INR {{bonus.bonusTotal | number : '1.0-2'}}</span>
        </div>
    </div>

    <hrms-employee-bonus-list #bonus></hrms-employee-bonus-list> -->
    
    <div *ngIf="salary.salary?.length">
        <div>
            Monthly Pay: <span class="ml-2 font-weight-bold">{{salary.monthlySum | number : '1.0-2'}}</span>
        </div>
        <div>
            Effective From: <span class="ml-2 font-weight-bold">{{salary.effectiveDate | date }}</span>
        </div>
    </div>
</div>