<form [formGroup]="addForm" id="loanRequestForm">
    <div class="modal-header">
        <div class="col-sm">
            <h4 class="modal-title">Create Loan Request</h4>
        </div>
        <div class="col-sm">
            <h6 class="">Loan Reference No: {{loanNo}}</h6>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm">
                <!-- <div class="form-group">
                    <label for="requestedBy" style="margin-bottom: 9px">
                        Requested By
                    </label>
                    <ng-template #optionTemplate let-item="item" let-config="config">
                        <i class="fa fa-plus"></i>
                        {{ item.firstName }}
                        <span class="new badge"></span>
                    </ng-template>
                    <ngx-select-dropdown (change)="selectionChanged($event)" [config]="config" [options]="employeeList" formControlName="requestedBy"
                        ></ngx-select-dropdown>
                </div> -->
               
                <div class="form-group">
                    <label class="col-form-label" for="requestedBy" 
                      >Requested By<span class="required">*</span></label
                    >
                    <p-dropdown [(ngModel)]="empObj" [disabled]="disableRequestedBy" [ngModelOptions]="{standalone: true}" [filter]="true" class="pngCustomClass" [options]="employeeList" optionValue="id"
                    (onChange)="selectRequestedBy($event)" optionLabel="firstName" placeholder="Select Employee" dataKey="id" name="requestedBy">
                      <ng-template let-item pTemplate="item" >  
                        <div class="dd-values" *ngIf="!(item?.value?.isLastRow)" >
                          {{item?.value.firstName}} 
                        </div> 
                        <div class="dd-values-refresh " *ngIf="item?.value?.isLastRow" (click)="refreshRequestedBy($event)">
                          <a  class="link-primary ref"><u>Refresh</u></a>
                       </div>
                    </ng-template>
                    </p-dropdown>
                  </div> 
                <div class="form-group ">
                    <label for="loanType">Loan Type<span class="required">*</span></label>
                    <select class="form-control" formControlName="loanType">
                        <option [ngValue]="null" disabled>Select Loan Type</option>
                        <option *ngFor="let key of loanTypeKeys" [ngValue]='key'>{{loanTypes[key]}}</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label for="paymentType">Loan Disbursement Method<span class="required">*</span></label>
                    <select class="form-control" formControlName="paymentType">
                        <option [ngValue]="null" disabled>Select Disbursement Type</option>
                        <option *ngFor="let key of paymentTypeKeys" [ngValue]='key'>
                            {{paymentTypes[key]}}</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label for="repaymentTerm">Repayment Terms (Months)<span class="required">*</span></label>
                    <input type="number" class="form-control repaymentTerm" id="repaymentTerm" name="repaymentTerm"
                        placeholder="loan repayment terms in months" formControlName="repaymentTerm">
                </div>
                <div class="form-group ">
                    <label for="loanAmount">Loan Amount<span class="required">*</span></label>
                    <input type="number" class="form-control" id="loanAmount" name="loanAmount"
                        (keydown)="validateNumber($event)" formControlName="loanAmount">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group" style="margin-top: 10px;">
                    <label for="expectedOn">Disbursement Expected On</label>
                    <div class="input-group">
                        <input class="form-control" ngbDatepicker #expectedOn="ngbDatepicker"
                            formControlName="expectedOn" [minDate]="minDate">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fal fa-calendar-alt" (click)="expectedOn.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="emiStartsFrom">EMI Starts from<span class="required">*</span></label>
                    <div class="d-flex justify-content-between align-items-center">
                        <select class="col-5 form-control" formControlName="emiStartsFromMonth">
                            <option [ngValue]="null" disabled>Select Month</option>
                            <option *ngFor="let month of months; let i = index" value="{{i+1}}">{{month}}</option>
                        </select>
                        <select class="col-5 form-control" formControlName="emiStartsFromYear">
                            <option [ngValue]="null" disabled>Select Year</option>
                            <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div *ngIf="addForm.controls.emiStartsFromMonth.errors?.emiMonth"
                            class="invalid-feedback d-block">
                            Select month greater than Disbursement Expected on month
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="comments">Comments<span class="required">*</span></label>
                    <textarea type="text" rows="6" class="form-control" id="comments" name="comments"
                        placeholder="Please provide the comment for applying loan"
                        formControlName="comments"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="card p-3" *ngIf="showLoanSchedules && scheduleArray.length >0">
            <table class="table m-0">
                <thead class="thead-themed">
                    <tr>
                        <th>Sl.No</th>
                        <th>Year</th>
                        <th>Month</th>
                        <th>Repayment Amount</th>
                        <!-- <th>Status</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let Schedule of scheduleArray; let i= index;">
                        <td>{{i+1}}</td>
                        <td>{{Schedule.Year}}</td>
                        <td>{{Schedule.Month}}</td>
                        <td>{{Schedule.Amount}}</td>
                        <!-- <td>{{Schedule.Status}}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
    <div class="modal-footer">

        <button *ngIf="addForm.controls.loanType.value ===2" (click)="generateSchedule()" type="button"
            class="btn btn-primary">
            <i class="mr-1 fal fa-arrow-down"></i> Generate Schedule</button>
        <button type="submit" style="color: #fff;background-color: #8d4fea;border-color: #8d4fea" class="btn"
            (click)="draftSave()"><i class="mr-1 fal fa-draft"></i>Draft </button>
        <button type="submit" class="btn btn-success" (click)="onSubmit()"><i class="mr-1 fal fa-save"></i>Send For
            Approval</button>
        <button type="button" class="btn btn-warning" (click)="activeModal.close('Close click')"><i
                class="mr-1 fal fa-window-close"></i> Cancel</button>


    </div>
</form>