<form [formGroup]="addForm" id="loanRequestForm" (validSubmit)="onSubmit()">
    <div class="modal-header">
        <div class="col-sm">
            <h4 class="modal-title">Create Loan Request</h4>
        </div>
        <div class="col-sm">
            <h6 class="">Loan Reference No: {{loanNo}}</h6>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm">
                <div class="form-group ">
                    <label for="loanType">Loan Type</label>
                    <select class="form-control" formControlName="loanType">
                        <option [ngValue]="null" disabled>Select Loan Type</option>
                        <option *ngFor="let key of loanTypeKeys" [ngValue]='key'>{{loanTypes[key]}}</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label for="paymentType">Loan Disbursement Method</label>
                    <select class="form-control" formControlName="paymentType">
                        <option [ngValue]="null" disabled>Select Disbursement Type</option>
                        <option *ngFor="let key of paymentTypeKeys" [ngValue]='key'>
                            {{paymentTypes[key]}}</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label for="repaymentTerm">Repayment Terms (Months)</label>
                    <input type="number" class="form-control repaymentTerm" id="repaymentTerm" name="repaymentTerm"
                        placeholder="loan repayment terms in months" formControlName="repaymentTerm">
                </div>
                <div class="form-group ">
                    <label for="loanAmount">Loan Amount</label>
                    <input type="number" class="form-control" id="loanAmount" name="loanAmount" (keydown)="validateNumber($event)"
                        formControlName="loanAmount">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group ">
                    <label for="expectedOn">Disbursement Expected On</label>
                    <div class="input-group">
                        <input class="form-control" ngbDatepicker
                            #expectedOn="ngbDatepicker" formControlName="expectedOn" [minDate]="minDate">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fal fa-calendar-alt" (click)="expectedOn.toggle()"
                                type="button"></button>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="emiStartsFrom">EMI Starts from</label>
                    <div class="d-flex justify-content-between align-items-center">
                        <select class="col-5 form-control" formControlName="emiStartsFromMonth">
                            <option [ngValue]="null" disabled>Select Month</option>
                            <option *ngFor="let month of months; let i = index" value="{{i+1}}">{{month}}</option>
                        </select>
                        <select class="col-5 form-control" formControlName="emiStartsFromYear" >
                            <option [ngValue]="null" disabled>Select Year</option>
                            <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
                        </select>
                    </div>  
                    <div class="d-flex justify-content-between align-items-center">
                        <div *ngIf="addForm.controls.emiStartsFromMonth.errors?.emiMonth" class="invalid-feedback d-block">
                            Select month greater than Disbursement Expected on month
                        </div>
                    </div>                  
                </div>
                <div class="form-group ">
                    <label for="comments">Comments</label>
                    <textarea type="text" rows="6" class="form-control" id="comments" name="comments"
                       placeholder="Please provide the comment for applying loan" formControlName="comments"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="activeModal.close('Close click')"><i
                class="mr-1 fal fa-window-close"></i> Cancel</button>
        <button type="submit" class="btn btn-success"><i class="mr-1 fal fa-save"></i> Request</button>
    </div>
</form>