<div id="wps" class="panel">
    <div class="panel-container show">
        <div class="panel-content">
            
            <ngb-tabset>
                <ngb-tab title="User Variable">
                  <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md">
                            <button (click)="openCreate()" class="btn btn-success btn-add mb-2 float-right">
                                <i class="fa fal fa-plus fa-plus mr-1"></i>Add User Variable
                            </button>
                        </div>
                    </div> 
                    <div class="frame-wrap">
                        <table class="table m-0">
                            <thead class="thead-themed">
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rel of userVariableDetails; let i= index;">
                                    <td>{{i+1}}</td>
                                    <td>{{ rel.code }}</td>
                                    <td>{{ rel.name }}</td>
                                    <td>{{ rel.type }}</td>
                                    <td>{{ rel.status==true ? 'Active' : 'InActive' }}</td>
                                    <td>
                                        <div class="btn-group" dropdown container="main">
                                            <button id="button-basic" dropdownToggle type="button"
                                                class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                                                <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                                                aria-labelledby="button-basic">
                                                <!-- <li role="menuitem" (click)="openView(employee)"><a class="dropdown-item">View</a></li> -->
                                                <li role="menuitem" (click)="openView(rel)"><a class="dropdown-item">View</a></li>
                                                <li role="menuitem" (click)="openEdit(rel)"><a class="dropdown-item">Edit</a></li>
                                                <li role="menuitem" (click)="delete(rel)"><a class="dropdown-item">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr> 
                            
                            </tbody>
                        </table>
                        </div>
            
            
                  </ng-template>
                </ngb-tab>

                <ngb-tab title="System Variable">
                 
                  <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-md">
                            <!-- <button (click)="openCreate()" class="btn btn-success btn-add mb-2 float-right">
                                <i class="fa fal fa-plus fa-plus mr-1"></i>Add System Variable
                            </button> -->
                        </div>
                    </div> 
                    <div class="frame-wrap">
                        <table class="table m-0">
                            <thead class="thead-themed">
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rel of systemVariableDetails; let i= index;">
                                    <td>{{i+1}}</td>
                                    <td>{{ rel.code }}</td>
                                    <td>{{ rel.name }}</td>
                                    <td>{{ rel.status==true ? 'Active' : 'InActive' }}</td>
                                    <td>
                                        <div class="btn-group" dropdown container="main">
                                            <button id="button-basic" dropdownToggle type="button"
                                                class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                                                <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                                                aria-labelledby="button-basic">
                                                <!-- <li role="menuitem" (click)="openView(employee)"><a class="dropdown-item">View</a></li> -->
                                                <!-- <li role="menuitem" (click)="openView(rel)"><a class="dropdown-item">View</a></li> -->
                                                <li role="menuitem" (click)="openEditSystem(rel)"><a class="dropdown-item">Edit</a></li>
                                                <!-- <li role="menuitem" (click)="delete(rel)"><a class="dropdown-item">Delete</a></li> -->
                                            </ul>
                                        </div>
                                    </td>
                                </tr> 
                            
                            </tbody>
                        </table>
                        </div>
                  </ng-template>
                </ngb-tab>
               
              </ngb-tabset>
      
    </div>    
</div>

