<form [formGroup]="addForm" id="wpsDetailsForm" (validSubmit)="onSubmit()">
    <div class="p-3">  
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label" for="groupId">WPS Group Name<span class="required">*</span></label>
                <select class="form-control" formControlName="groupId">
                    <option value="" disabled>Select WPS Group</option>
                    <option *ngFor="let type of groupId" [ngValue]='type.id'>
                        {{type.groupName}}
                    </option>
                </select>
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label"  for="wpsId">WPS ID<span class="required">*</span></label>
                <input autocomplete="off" (keypress)="keyPressNumbers($event)" type="string" class="form-control" id="wpsId" name="wpsId" formControlName="wpsId">
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label"  for="molId">MOL ID<span class="required">*</span></label>
                <input autocomplete="off" type="string" class="form-control" id="molId" name="molId" formControlName="molId">
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label"  for="routingId">Routing ID<span class="required">*</span></label>
                <input autocomplete="off" type="string" class="form-control" id="routingId" name="routingId" formControlName="routingId">
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label"  for="salaryCardNo">Salary Card No<span class="required">*</span></label>
                <input autocomplete="off" type="string" class="form-control" id="salaryCardNo" name="salaryCardNo" formControlName="salaryCardNo">
            </div>
            <div class="form-group form-input-line col-sm">
                <label class="col-form-label"  for="bankId">Bank Name<span class="required">*</span></label>
                <select class="form-control" formControlName="bankId">
                    <option value="" disabled>Select Bank Name</option>
                    <option *ngFor="let type of bankList" [ngValue]='type.id'>
                        {{type.name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="form-group form-input-line col-sm-6">
                <label class="col-form-label"  for="accountNo">Account No<span class="required">*</span></label>
                <input autocomplete="off" type="string" class="form-control" id="accountNo" name="accountNo" formControlName="accountNo">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><i class="mr-1 fal fa-save"></i> Save</button>
        <a routerLink="/employee">
            <button type="button" class="btn btn-warning"><i class="mr-1 fal fa-window-close"></i> Cancel</button>
        </a>
    </div>
</form>
