<form [formGroup]="addForm" (validSubmit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title">Create Payroll Component</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group form-input-line col-12">
            <label class="col-form-label" for="name">Name<span class="required">*</span> </label>
            <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group form-input-line col-12">
            <label class="col-form-label" for="shortCode">Short Code<span class="required">*</span> </label>
            <input type="text" class="form-control" formControlName="shortCode">
        </div>

        <div class="form-group form-input-line col-12">
            <label class="col-form-label" for="payrollComponentType">Payroll Component Type<span class="required">*</span></label>
            <select class="form-control" formControlName="payrollComponentType">
                <option [ngValue]='null' disabled>Select a Payroll Component Type</option>
                <option *ngFor="let key of payrollComponentTypeKeys" [ngValue]='key'>
                    {{payrollComponentTypes[key]}}
                </option>
            </select>`
        </div>
        <div class="form-group form-textarea-line col-12">
            <label class="col-form-label" for="description">Description<span class="required">*</span> </label>
            <textarea type="text" rows="3" class="form-control" id="description" formControlName="description">
            </textarea>
        </div>                                      
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="activeModal.close('Close click')"><i
                class="mr-1 fal fa-window-close"></i> Cancel</button>
        <button type="submit" class="btn btn-success"><i class="mr-1 fal fa-save"></i> Save</button>
    </div>
</form>