<div class="subheader mt-3">
    <h1 class="subheader-title mb-2">
        <div>
            Employee Payroll Parameter details
        </div>
    </h1>
</div>
<div id="wps" class="panel">
    <div class="panel-container show">
        <div class="panel-content">
            <div class="row">
                <div class="col-md">
                    <button (click)="openCreate()" class="btn btn-success btn-add mb-2 float-right">
                        <i class="fa fal fa-plus fa-plus mr-1"></i>Add Employee Payroll Parameter Details
                    </button>
                </div>
            </div> 
        <div class="frame-wrap">
        <table class="table m-0">
            <thead class="thead-themed">
                <tr>
                    <th>Sl No.</th>
                    <th>User Variables</th>
                    <th>Variable Type</th>
                    <th>Date</th>
                    <th>Values</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let documentType of documentTypeDetails; let i= index;">
                    <td>{{i+1}}</td>
                    <td>{{ documentType.code }}</td>
                    <td>{{ documentType.name }}</td>
                    <td>{{ documentType.isExpired==true? 'Yes' :'No' }}</td>
                    <td>{{ documentType.expiryBeforeDays }}</td>
                    <td>{{ documentType.status==true ? 'Active' : 'Inactive' }}</td>
                    <td>
                        <div class="btn-group" dropdown container="main">
                            <button id="button-basic" dropdownToggle type="button"
                                class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                                <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                                aria-labelledby="button-basic">
                                <!-- <li role="menuitem" (click)="openView(employee)"><a class="dropdown-item">View</a></li> -->
                                <li role="menuitem" (click)="openView(documentType)"><a class="dropdown-item">View</a></li>
                                <li role="menuitem" (click)="openEdit(documentType)"><a class="dropdown-item">Edit</a></li>
                                <li role="menuitem" (click)="delete(documentType)"><a class="dropdown-item">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr> 
                <tr *ngIf="!employees?.length">
                    <td colspan="6" class="text-center">No rows found</td>
                  </tr>          
            </tbody>
        </table>
        </div>
    </div>    
</div>

