<form>
    <div class="modal-header">
        <h4 class="modal-title">View Overtime Request</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="selectEnable" style="display: flex;flex-direction: row;">
        <label style="padding-left: 30px;padding-top: 10px;">Employee Name</label>
        <input class="form-control col-sm-7" style="margin-left: 50px;" type="text"   value="{{ overtimeRequest.employeeName}}" disabled>
  </div>
  <div *ngIf="!selectEnable" style="display: flex;flex-direction: row;">
    <label style="padding-left: 30px;padding-top: 10px;">Employee Name</label>
    <input class="form-control col-sm-7" style="margin-left: 50px;" type="text"   value="{{ overtimeRequest.employeeName}}" disabled>
  </div>
    <div class="modal-body">
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="fromDate">From Date</label>
                <input type="text" class="form-control" name="fromDate" value="{{ overtimeRequest.fromDate |date: 'dd-MM-yyyy'}}" disabled />
            </div>
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="toDate">To Date</label>
                <input type="text" class="form-control" name="toDate" value="{{ overtimeRequest.toDate |date: 'dd-MM-yyyy'}}" disabled />
            </div>
        </div>
        <!-- <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group form-input-line col-12">
                <label class="col-form-label" for="fromDate">Overtime Hours</label>
                <input type="text" class="form-control" name="fromDate" value="{{ overtimeRequest.numberOfHours}}" disabled />
            </div>
        </div> -->
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group col-sm-4">
              <label for="normalOverTime">Normal Overtime</label>
              <input type="number"  class="form-control" id="normalOverTime" value="{{ overtimeRequest.normalOverTime}}" disabled >
            </div>  
            <div class="form-group col-sm-4">
                <label for="holidayOverTime">Holiday Overtime</label>
                <input type="number"  class="form-control" id="holidayOverTime" value="{{ overtimeRequest.holidayOverTime}}" disabled >
            </div>
            <div class="form-group col-sm-4">
                <label for="specialOverTime">Special Overtime</label>
                <input type="number"  class="form-control" id="specialOverTime" value="{{ overtimeRequest.specialOverTime}}" disabled >
            </div>
        </div>
        <div class="d-flex flex-wrap align-items-baseline">    
            <!-- <label class="col-form-label" for="fromDate">Overtime Hours</label>
            <span disabled style = "margin-left: 14px;background-color: #f3f3f3" *ngFor="let item of selectedItems" class="badge border tag">{{ item.firstName }} 
                
            </span> -->
            <div class=" form-input-line col-12">
                <label class="col-form-label" >Notify Persons</label><br>
                <span disabled style = "background-color: #f3f3f3" *ngFor="let item of selectedItems" class="badge border tag">{{ item.firstName }} 
                
                </span>
                
            </div>
              
        </div> 
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group form-input-line col-12">
                <label class="col-form-label" for="fromDate">Reason</label>
                <input type="text" class="form-control" name="fromDate" value="{{ overtimeRequest.reason}}" disabled />
            </div>
        </div>
    </div>
</form>