<div class="subheader">
    <h1 class="subheader-title">
        <div>
            Allocated Assets
        </div>
    </h1>
</div>
<div id="employee-list" class="panel">
    <div class="card p-3">
        <table class="table m-0">
            <thead class="thead-themed">
                <tr class="text-center">
                    <th>SL:No</th>
                    <th>Asset Type</th>
                    <th>Asset ID</th>
                    <th>Asset Name</th>
                    <th>Allocated On</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let allocatedAsset of allocatedAssets; let i= index;">
                    <td>{{i+1}}</td>
                    <td class="text-capitalize">{{allocatedAsset.assetTypeName}}</td>
                    <td >{{ allocatedAsset.assetId }}</td>
                    <td class="link text-primary mt-3">{{allocatedAsset.assetName }}</td>
                    <td class="link text-primary mt-3">{{allocatedAsset.allocatedDate | date: 'dd-MM-yyyy'}}</td>
                    <td class="link text-primary mt-3">{{allocatedAsset.status}}</td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>