<div class="subheader">
    <h1 class="subheader-title">
        <div>
            Allocated Assets
        </div>
    </h1>
</div>
<div id="employee-list" class="panel">
    <div class="card p-3">
        <table class="table m-0">
            <thead class="thead-themed">
                <tr class="text-center">
                    <th>SL:No</th>
                    <th>Asset Type</th>
                    <th>Asset ID</th>
                    <th>Asset Name</th>
                    <th>Allocated On</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let allocatedAsset of allocatedAssets; let i= index;">
                    <td>{{i+1}}</td>
                    <td class="text-capitalize">{{allocatedAsset.assetTypeName}}</td>
                    <td >{{ allocatedAsset.assetId }}</td>
                    <td class="primary mt-3">{{allocatedAsset.assetName }}</td>
                    <td class="primary mt-3">{{allocatedAsset.allocatedDate | date: 'yyyy-MM-dd'}}</td>
                    <td class="primary mt-3">{{allocatedAsset.status}}</td>
                    <td>

                        <!-- <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                            <button id="button-basic" dropdownToggle type="button" 
                               class="border-0 mr-2 pr-2 dropdown-toggle btn-more"
                               aria-controls="dropdown-basic">
                               <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                               role="menu" click aria-labelledby="button-basic">
                               <li role="menuitem"  (click)="openView(employee)"><a class="dropdown-item">approve</a></li>
                            </ul>
                         </div>
                         -->
                      

                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>