<div id="job-title-list" class="p-3">

    <div class="button-right-wrapper">
        <button (click)="openCreate()" class="btn btn-success btn-add">
            <i class="fa fal fa-plus fa-plus mr-1"></i>Add Asset
        </button>
    </div>
    <table class="table m-0">
        <thead class="thead-themed">
            <tr>
                <th>Sl.no</th>
                <th>Date</th>
                <th>Asset Type</th>
                <th>Asset Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>IsActive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let assetType of assetList; let i= index;">
                <td>{{i+1}}</td>
                <td class="text-ellipsis" title="{{ assetType.date}}"> {{ assetType.date | date }} </td> 

                <td class="text-capitalize">
                    {{getAssetTypeName(assetType) }}</td>
                 <td class="text-capitalize">{{ assetType.assetName }}</td>
                <td class="text-ellipsis" title="{{ assetType.description }}"> {{ assetType.description }} </td>  
                <!-- <td class="text-ellipsis" title="{{ assetType.status}}"> {{ assetType.status }} </td>    -->
                <td class="text-ellipsis" title="{{ assetType.status}}"> {{ "Unallocated" }} </td> 
                <!-- <td class="text-capitalize">{{ assetType.isActive }}</td>           
                <td> -->
                    <td class="text-capitalize">
                        <span *ngIf="assetType.isActive">Yes</span>
                        <span *ngIf="!assetType.isActive">No</span>
                    </td>
                    <td>
                    <div class="btn-group" dropdown container="main">
                        <button id="button-basic" dropdownToggle type="button"
                            class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                            <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem" (click)="openView(assetType,getAssetTypeName(assetType))"><a class="dropdown-item">View</a></li>
                            <li role="menuitem" (click)="openEdit(assetType,getAssetTypeName(assetType))"><a class="dropdown-item">Edit</a></li>
                            <li role="menuitem" (click)="delete(assetType)">
                                <a class="dropdown-item">Delete</a>
                            </li>
                            <!-- <li role="menuitem" (click)="delete(employee)"><a class="dropdown-item">Delete</a></li> -->
                        </ul>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!assetList?.length">
                <td colspan="7" class="text-center">
                    No rows found
                </td>
            </tr>
        </tbody>
    </table>
</div> 
