<form [formGroup]="employeeassetchangeForm" id="employeeassetchangeForm" (submit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title">Change/Swap</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">
      <div class="d-flex flex-wrap align-items-baseline">
        <div class="form-group form-input-inline col-6">
          <label class="col-12 col-form-label px-0" for="assetid">Current Asset Id</label>
          <input
            formControlName="valueId"
            type="number"
            class="form-control w-100"
            disabled
          />
          
        </div>
       
  
        <div class="form-group form-input-inline col-6">
          <label class="col-12 col-form-label px-0" for="AssetName"
            >Current Asset Name</label
          >
          <input formControlName="assetName" class="form-control w-100" disabled />
        </div>
  
        <div class="d-flex flex-wrap align-items-baseline col-12 px-0" formGroupName="metadatas">
          <div class="form-group  col-6 " *ngFor="let currentmdata of currentTypeKeys; let i = index">
              <label class="col-12 col-form-label px-0" for="metadata">{{currentmdata}}</label>
              <input
              class="form-control w-100"
                type="text"
                formControlName="{{ currentmdata }}"
                placeholder="{{ currentmdata }}"
                disabled
              />
          </div>
        </div>

        <div class="form-group form-input-inline col-6">
          <label class="col-12 col-form-label px-0">New Asset Type</label>
          <select
            id="newAssetType"
            name="newAssetType"
            class="form-control w-100"
            formControlName="newAssetType"
            (change)="getUnallocatedAssets($event)"
          >
            <option *ngFor="let dtype of dataType" [ngValue]="dtype.id">
              {{ dtype.assettypename }}
            </option>
          </select>
        </div>

        <!-- <div class="form-group form-input-inline col-6">
          <label class="col-12 col-form-label px-0" for="newAssetName"
            >New Asset Name</label
          >
          <input formControlName="newAssetName" class="form-control w-100"  />
        </div> -->

        <div class="form-group form-input-line col-6">
          <label class="col-form-label" for="newAssetName">New Asset Name</label>
          <input type="text" class="form-control rounded-0 border-top-0 border-left-0 border-right-0 px-0"
              id="newAssetName" name="newAssetName" [ngbTypeahead]="search" 
              [inputFormatter]="formatter" [resultFormatter]="formatter" [editable]='false'
              placeholder="Search Assets" formControlName="newAssetName" (change)="checkAssetName()">
        </div>

        <div class="d-flex flex-wrap align-items-baseline col-12 px-0" formGroupName="newMetadatas">
          <div class="form-group  col-6 " *ngFor="let newmdata of newTypeKeys; let i = index">
              <label class="col-12 col-form-label px-0" for="newMetadatas">{{ newmdata}}</label>
              <input
              class="form-control w-100"
                type="text"
                formControlName="{{ newmdata }}"
                placeholder="{{ newmdata }}"
              />
          </div>
        </div>

        <div class="form-group form-textarea-line col-12">
          <label class="col-12 col-form-label px-0">Description</label>
             <textarea
                formControlName="newDescription"
                class="form-control"
                rows="3">
              </textarea>
        </div>

      </div>
    </div>
  
  
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-warning"
        (click)="activeModal.close('Close click')"
      >
        <i class="mr-1 fal fa-window-close"></i> Cancel
      </button>
      <button type="submit" class="btn btn-success">
        <i class="mr-1 fal fa-save"></i> Save
      </button>
    </div>
  </form>
  