
<div class="subheader">
    <h1 class="subheader-title">
        <div>
            Asset View 
        </div>
    </h1>
</div>

<div class="d-flex py-3" *ngFor="let emp of employeeDetails; let i= index;">
    <div class="col-sm-4 p-0 px-3">
        <div class="text-muted">Employee Id: {{emp.employeeID}}</div>
        <div class="text-muted">Employee Status: {{emp.employeeStatus}}</div>
    </div>
    <div class="col-sm-4 p-0 px-3">
        <div class="text-muted">Employee Name:{{emp.firstName}}</div>
        <div class="text-muted">Designation: {{emp.designation}}</div>        
    </div>   
</div>

<div id="employee-list" class="panel">
    <div class="card p-3">
        <table class="table m-0">
            <thead class="thead-themed">
                <tr class="text-center">
                    <th>SL:No</th>
                    <th>Asset Type</th>
                    <th>Asset ID</th>
                    <th>Asset Name</th>
                    <th>Allocated On</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr class="text-center" *ngFor="let employee of result; let i= index;">
                    <td>{{i+1}}</td>
                    <td>{{ employee.employeeID }}</td>
                    <td class="text-capitalize">{{employee.firstName}} {{employee.lastName}}</td>
                    <td >{{ employee.employeeStatus }}</td>
                    <td *ngIf="employee.allocatedAsset> 0"> <a class="link text-primary mt-3"
                        (click)="openAllocatedAssets(employee)">{{ employee.allocatedAsset}}</a> </td>
                    <td *ngIf="employee.requests > 0"> <a class="link text-primary mt-3"
                        (click)="openReuests(employee)">{{ employee.requests }}</a> </td>
                    <td>

                        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="false">
                            <button id="button-basic" dropdownToggle type="button" 
                               class="border-0 mr-2 pr-2 dropdown-toggle btn-more"
                               aria-controls="dropdown-basic">
                               <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                               role="menu" click aria-labelledby="button-basic">
                               <li role="menuitem"  (click)="openView(employee)"><a class="dropdown-item">View</a></li>
                            </ul>
                         </div>
                        
                      

                    </td>
                </tr> -->
               
            </tbody>
        </table>
    </div>
</div>