
<div class="subheader">
    <h1 class="subheader-title">
        <div>
            Asset View 
        </div>
    </h1>
</div>

<div class="d-flex py-3" *ngFor="let emp of employeeDetails; let i= index;">
    <div class="col-sm-4 p-0 px-3">
        <div class="text-muted">Employee Id: {{emp.employeeID}}</div>
        <div class="text-muted">Employee Status: {{emp.employeeStatus}}</div>
    </div>
    <div class="col-sm-4 p-0 px-3">
        <div class="text-muted">Employee Name:{{emp.firstName}}</div>
        <div class="text-muted">Designation: {{emp.designation}}</div>        
    </div>   
</div>

<div id="employee-list" class="panel">
    <div class="card p-3">
        <table class="table m-0">
            <thead class="thead-themed">
                <tr class="text-center">
                    <th>SL:No</th>
                    <th>Asset Type</th>
                    <th>Asset ID</th>
                    <th>Asset Name</th>
                    <th>Allocated On</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                <tr class="text-center" *ngFor="let allocatedAsset of allocatedAssets; let i= index;">
                    <td>{{i+1}}</td>
                    <td class="text-capitalize">{{allocatedAsset.assetTypeName}}</td>
                    <td >{{ allocatedAsset.assetId }}</td>
                    <td class="link text-primary mt-3">{{allocatedAsset.assetName }}</td>
                    <td class="link text-primary mt-3">{{allocatedAsset.allocatedDate | date: 'dd-MM-yyyy'}}</td>
                    <td class="link text-primary mt-3">{{status[allocatedAsset.status]}}</td>
                    <td>
                        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="true">
                            <button id="button-basic" dropdownToggle type="button" 
                               class="border-0 mr-2 pr-2 dropdown-toggle btn-more"
                               aria-controls="dropdown-basic">
                               <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                               role="menu" click aria-labelledby="button-basic">
                               <li role="menuitem"  (click)="openChangeOrSwap(allocatedAsset)"><a class="dropdown-item">Change/Swap</a></li>
                               <li role="menuitem"  (click)="openRecall(allocatedAsset)"><a class="dropdown-item">Recall</a></li>
                            </ul>
                         </div>
                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>