<form [formGroup]="assetViewForm" id="assetViewForm">
    <div class="subheader">
        <h1 class="subheader-title">
            <div>
                Asset View 
            </div>
        </h1>
    </div>

    <div class="modal-body">
        <div class="d-flex flex-wrap align-items-baseline">
                <div class="d-flex form-group form-input-inline col-6">
                <label class="col-4 col-form-label px-0" for="assetid">Employee Id:</label>
                <input
                    name="employeeNumber"
                    formControlName="employeeNumber"
                    class="form-control w-100">
                </div>
                <div class="d-flex form-group form-input-inline col-6">
                <label class="col-4 col-form-label px-0" for="date">Employee Status:</label>
                <input
                    class="form-control w-100"
                    formControlName="employeeStatus"
                    name="employeeStatus"/>
                </div>
                
                <div class="d-flex form-group form-input-inline col-6">
                    <label class="col-4 col-form-label px-0" for="assetid">Employee Name:</label>
                    <input
                        name="firstName"
                        formControlName="firstName"
                        class="form-control w-100">
                </div>
                <div class="d-flex form-group form-input-inline col-6">
                    <label class="col-4 col-form-label px-0" for="assetid">Designation:</label>
                    <input
                        name="designation"
                        formControlName="designation"
                        class="form-control w-100">
                </div>
            </div>
        
    </div>
</form>


<div id="employee-list" class="panel">
    <div class="card p-3">
        <table class="table m-0">
            <thead class="thead-themed">
                <tr class="text-center">
                    <th>Sl No.</th>
                    <th>Asset Type</th>
                    <th>Asset ID</th>
                    <th>Asset Name</th>
                    <th>Allocated On</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
                <tr class="text-center" *ngFor="let allocatedAsset of allocatedAssets; let i= index;">
                    <td >{{i+1}}</td>
                    <td class="text-capitalize">{{allocatedAsset.assetTypeName}}</td>
                    <td >{{ allocatedAsset.assetId }}</td>
                    <td class="text-capitalize" >{{allocatedAsset.assetName }}</td>
                    <td >{{allocatedAsset.allocatedDate | date: 'dd-MM-yyyy'}}</td>
                    <td >{{splitByUpperCase.transform(status[allocatedAsset.status])}}</td>
                    <td>
                        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="true">
                            <button id="button-basic" dropdownToggle type="button" 
                               class="border-0 mr-2 pr-2 dropdown-toggle btn-more"
                               aria-controls="dropdown-basic">
                               <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                               role="menu" click aria-labelledby="button-basic">
                               <li *ngIf="allocatedAsset?.status==4 || allocatedAsset?.status==7"    (click)="openChangeOrSwap(allocatedAsset)"><a class="dropdown-item">Change/Swap</a></li>
                               <li [ngClass]="(allocatedAsset.status ==7 || allocatedAsset.status ==9 || allocatedAsset.status ==8) ?'lidisable':''"   (click)="openRecall(allocatedAsset)"><a class="dropdown-item">Recall</a></li>
                               <li *ngIf="allocatedAsset?.status==8" ><a class="dropdown-item">Approve</a></li>
                            </ul>
                         </div>
                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>