<div id="job-title-list" class="p-3">

    <div class="button-right-wrapper">
        <button (click)="openCreate()" class="btn btn-success btn-add">
            <i class="fa fal fa-plus fa-plus mr-1"></i>Raise New Request
        </button>
    </div>
    <table class="table m-0">
        <thead class="thead-themed">
            <tr>
                <th>#</th>
                <th>Request No</th>
                <th>Requested Date</th>
                <th>Request For</th>
                <th>Request Type</th>
                <th>Asset Type</th>
                <th>Status</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let items of raiseRequestList; let i= index;">
                <td>{{i+1}}</td>
                <td class="text-capitalize">{{ items.requestNo }}</td>
                <td class="text-ellipsis">{{ items.requestedDate }}</td>
                <td class="text-ellipsis">{{ items.requestFor }}</td>
                <td class="text-ellipsis">{{ items.requestType }}</td>
                <td class="text-ellipsis">{{ items.assetTypeId }}</td>
                <td class="text-ellipsis">{{ items.status }}</td>
                <td>
                    <div class="btn-group" dropdown container="main">
                        <button id="button-basic" dropdownToggle type="button"
                            class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                            <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem" (click)="openView(items)"><a class="dropdown-item">View</a></li>
                            <li role="menuitem" (click)="openEdit(items)"><a class="dropdown-item">Edit</a></li>
                            <li role="menuitem" (click)="!isDisabled(i) && delete(items)">
                                <a [ngClass]="{'disabled': isDisabled(i)}" class="dropdown-item">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!raiseRequestList?.length">
                <td colspan="7" class="text-center">
                    No rows found
                </td>
            </tr>
        </tbody>
    </table>
</div>
