<form [formGroup]="addForm" id="religionGroupForm" (validSubmit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title">Ticket</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="travelFrom">Travel From<span class="required">*</span></label>
                <input type="string" class="form-control" id="travelFrom" name="travelFrom" formControlName="travelFrom">
            </div>
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="travelTo">Travel To<span class="required">*</span></label>
                <input type="string" class="form-control" id="travelTo" name="travelTo" formControlName="travelTo">
            </div>
           
           
        </div>
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="travelMode">Travel Mode<span class="required">*</span></label>
                <select class="form-control" formControlName="travelMode">
                    <option value="" disabled>Select Travel Mode</option>
                    <option *ngFor="let key of ticketBaseKeys" [ngValue]='key'>{{ticketBaseOf[key]}}</option>
                </select>
            </div>
            <!-- <div class="form-group form-input-inline input-group col-6">
                <label class="col-12 col-form-label px-0">Travel Date</label>
                <input readonly class="form-control" formControlName="travelDate" [minDate]="minDateFrom"
                [maxDate]="maxDateFrom" ngbDatepicker #travelDate="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="travelDate.toggle()" type="button">
                    <i class="fal fa-calendar-alt"></i>
                </button>
            </div>
            </div> -->
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="isRoundTrip">Round Trip<span class="required">*</span></label>
                    <select class="form-control" formControlName="isRoundTrip">
                         <option value="" disabled>Select</option>
                         <option value="true">Yes</option>
                         <option value="false">No</option>
                    </select>
            </div>
        </div>
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group form-input-line col-6">
                <label class="col-form-label" for="amount">Ticket Amount<span class="required">*</span></label>
                <input type="string" class="form-control" id="amount" name="amount" formControlName="amount">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="activeModal.close('Close click')"><i
                class="mr-1 fal fa-window-close"></i> Cancel</button>
        <button type="submit" class="btn btn-success"><i class="mr-1 fal fa-save"></i>Save</button>
    </div>
</form>




