<form [formGroup]="editForm" id="metadataForm">
    <div class="modal-header">
        <h4 class="modal-title">View Metadata </h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="d-flex align-items-baseline form-group mt-1">
            <label for="assetType" class="col-form-label">Type Name<span class="required">*</span></label>
            <ng-container> <input type="text" class="txtwidth form-control ml-7" id="assetType" name="assetType"
                    formControlName="assetType" disabled></ng-container>
        </div>
        <div>
            <div class="border">
                <div class="d-flex flex-wrap justify-content-center bg-gray-200 card-header metadataCardHeader col-12">
                    <div class="d-flex flex-wrap justify-content-center col-12">
                        <div class="col-1">Sl No.</div>
                        <div class="col-5">Metadata</div>
                        <div class="col-3">Data Type</div>
                        <div class="col-2">Is Mandatory</div>
                        <div class="col-1"></div>
                    </div>
                </div>
                <div>
                    <ng-container formArrayName="dataRows">
                        <div class="d-flex flex-wrap col-12"
                            *ngFor="let item of editForm.get('dataRows')?.controls | slice:0:5; let i=index">
                            <div [formGroup]="item" class="d-flex flex-wrap col-12">
                                <div class="col-1 py-2 pl-2">{{i+1}}
                                </div>
                                <div class="col-5 py-2 pl-2">
                                    <input disabled readonly type="text" class="form-control" id="metadata" name="metadata" (input)="fieldValidation();"
                                        [attr.disabled]="isDisabled(i)?'':null" formControlName="metadata"
                                        [ngClass]="{'disabled': isDisabled(i)}">
                                </div>

                                <div class="col-3 py-2 pl-2">
                                    <select disabled readonly class="form-control" formControlName="assetDataType" id="assetDataType" (change)="updateEnable(i);" [attr.disabled]="isDisabled(i)?true:null"
                                        name="assetDataType">
                                        <option [ngValue]="0" disabled readonly >Select Datatype</option>
                                        <option disabled readonly *ngFor="let key of metadataDatatypeKeys" [ngValue]='key'
                                            [ngClass]="{'disabled': isDisabled(i)}">{{metadataDatatype[key]}}</option>
                                    </select>
                                </div>
                                <div class="col-2 py-2 pl-2">
                                    <div class="custom-control custom-checkbox">
                                        <input disabled readonly type="checkbox" class="chkbox" name="isMandatory" for="isMandatory" (click)="updateEnable(i);"
                                            id="isMandatory" formControlName="isMandatory"
                                            [attr.disabled]="isDisabled(i)?true:null"
                                            [ngClass]="{'disabled': isDisabled(i)}">
                                    </div>
                                </div>
                                <!-- <div class="col-1 pt-2">
                                    <a [ngClass]="{'disabled': isDisabled(i)}"> <button type="button"
                                            class="btn btn-outline-primary p-2" name="deletebutton"
                                            (click)="!isDisabled(i) && removeMetadata(i)">
                                            <i class="fal fa-minus"></i>
                                        </button></a>
                                </div> -->
                            </div>

                        </div>
                        <div class="d-flex flex-wrap col-12">
                            <div class="d-flex flex-wrap col-12">
                                <div class="col-11 py-2 pl-2">
                                    <span *ngIf="emptyValidation" class="valerr">Fields should not be empty.</span>
                                    <span *ngIf="duplicateValidation" class="valerr">Metadata already exists.</span>
                                    <span *ngIf="maxAlert" class="valerr">You've entered maximum number of
                                        metadata!!</span>
                                        <span class="valerr" *ngIf="maxLength"> Maximum of 32 characters</span>
                                </div>
                                <!-- <div class="col-1 pt-2">
                                    <button type="button" class="btn btn-outline-primary p-2"
                                        (click)="createDataArray();" name="addbutton">
                                        <i class="fal fa-plus"></i>
                                    </button>
                                </div> -->
                            </div>
                        </div>

                    </ng-container>
                </div>
            </div>
        </div>
    </div>

</form>
