// ::ng-deep .ngx-dropdown-container[_ngcontent-ffc-c169] .ngx-dropdown-button[_ngcontent-ffc-c169] {
//     width: 100%;
//     min-height: 36px !important;
//     padding: 5px 10px;
//     background-color: #fff;
// }
::ng-deep .ngx-dropdown-container .ngx-dropdown-button {
    width: 100%;
    min-height: 37px !important;
    padding: 5px 10px;
    background-color: #fff;
}

