<div class="subheader">
    <h1 class="subheader-title">
        <div>
            Allocated Assets
        </div>
    </h1>
</div>
<div id="employee-list" class="panel">
    <div class="card p-3">
        <table class="table m-0">
            <thead class="thead-themed">
                <tr class="text-center">
                    <th>SL:No</th>
                    <th>Request No:</th>
                    <th>Requested By</th>
                    <th>Requested On</th>
                    <th>Requested For</th>
                    <th>Requested Type</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let empreq of employeeWiseRequest; let i= index;">
                    <td>{{i+1}}</td>
                    <td>{{ empreq.requestNo}}</td>
                    <td class="text-capitalize">{{empreq.requestedBy}}</td>
                    <td >{{ empreq.requestedOn}}</td>
                    <td class="link text-primary mt-3">{{empreq.requestFor}}</td>
                    <td class="link text-primary mt-3">{{empreq.requestType}}</td>
                    <td class="link text-primary mt-3">{{empreq.status}}</td>
                    <td>

                        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="true">
                            <button id="button-basic" dropdownToggle type="button" 
                               class="border-0 mr-2 pr-2 dropdown-toggle btn-more"
                               aria-controls="dropdown-basic">
                               <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                               role="menu" click aria-labelledby="button-basic">
                               <li role="menuitem"  (click)="openView(employee)"><a class="dropdown-item">approve</a></li>
                            </ul>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                               role="menu" click aria-labelledby="button-basic">
                               <li role="menuitem"  (click)="openView(employee)"><a class="dropdown-item">approve</a></li>
                            </ul>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                               role="menu" click aria-labelledby="button-basic">
                               <li role="menuitem"  (click)="openView(employee)"><a class="dropdown-item">approve</a></li>
                            </ul>
                         </div>
                        
                      

                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>