<div class="subheader">
    <h1 class="subheader-title">
        <div>
            Asset Requests
        </div>
    </h1>
</div>
<div id="employee-list" class="panel">
    <div class="card p-3">
        <table class="table m-0">
            <thead class="thead-themed">
                <tr class="text-center">
                    <th>SL:No</th>
                    <th>Request No:</th>
                    <th>Requested By</th>
                    <th>Requested On</th>
                    <th>Requested For</th>
                    <th>Requested Type</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let emprequest of employeeWiseRequest; let i= index;">
                    <td>{{i+1}}</td>
                    <td>{{ emprequest.requestNo}}</td>
                    <td class="text-capitalize">{{emprequest.requestedBy}}</td>
                    <td>{{ emprequest.requestedDate | date: 'yyyy-MM-dd'}}</td>
                    <td>{{emprequest.requestFor}}</td>
                    <td>{{emprequest.requestType}}</td>
                    <td> {{status[emprequest.status]}}</td>
                    <td>

                        <div class="btn-group" dropdown #dropdown="bs-dropdown" [autoClose]="true">
                            <button id="button-basic" dropdownToggle type="button" 
                               class="border-0 mr-2 pr-2 dropdown-toggle btn-more"
                               aria-controls="dropdown-basic">
                               <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                               role="menu" click aria-labelledby="button-basic">
                               <li role="menuitem"   (click)="openRequestView(emprequest)"><a class="dropdown-item">View</a></li>
                               <li role="menuitem" [ngClass]="(emprequest.status ==2 || emprequest.status ==6) ?'lidisable':''" (click)="manageRequest(emprequest,2); clicked = true;"><a class="dropdown-item">approve</a></li>
                               <li role="menuitem" [ngClass]="(emprequest.status ==3 || emprequest.status ==6)?'lidisable':''"  (click)="manageRequest(emprequest,3)"><a class="dropdown-item">Reject</a></li>
                               <li role="menuitem" [ngClass]="(emprequest.status ==4 || emprequest.status ==6)?'lidisable':''"  (click)="Allocate()"><a class="dropdown-item">Allocate</a></li>
                               <li role="menuitem"  (click)="manageRequest(emprequest,6)"><a class="dropdown-item">Revoke</a></li>
                            </ul>
                         </div>
                        
                      

                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>