<div class="subheader">
    
      <div style="font-size: medium;padding-left: 30px;padding-top: 50px;">Print Loan Details</div>
    
  </div>
  
  <div class="card p-3" id="printEmployee">
    <div>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div style="height: 67vh" class="pt-6">
      <app-reportviewer id="employee-view"> </app-reportviewer>
    </div>
  </div>
  
