<form [formGroup]="editForm" (validSubmit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title">Edit Overtime Policy</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group form-input-line">
            <label class="col-form-label" for="name">Overtime Policy Name<span class="required">*</span> </label>
            <input type="text" class="form-control" formControlName="name">

        </div>
        <div class="form-group form-textarea-line">
            <label class="col-form-label" for="description">Description<span class="required">*</span> </label>
            <textarea type="text" class="form-control" rows="3" id="description" formControlName="description"></textarea>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label" for="attendanceHoursType"> Policy will adhere to the hours
                from</label>
            <div class="col-sm-8">
                <div class="custom-control custom-radio custom-control-inline pt-2"
                    *ngFor="let key of attendanceHoursTypeKeys">
                    <input type="radio" class="custom-control-input" id="{{key}}" formControlName="attendanceHoursType"
                        [value]='key'>
                    <label class="custom-control-label" for="{{key}}">{{ attendanceHoursTypes[key] }}</label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="activeModal.close('Close click')"><i
                class="mr-1 fal fa-window-close"></i> Cancel</button>
        <button type="submit" class="btn btn-success"><i class="mr-1 fal fa-save"></i>Save</button>
    </div>
</form>