<div class="subheader">
    <h1 class="subheader-title">
     Edit Employee Encashment
    </h1>
</div>
<div  class="panel">
    <div class="panel-container show">
        <div class="panel-content">

            <form [formGroup]="editForm" (submit)="onSubmit()">

                <div class="p-3">
                    <button class="btn btn-outline-primary btn-sm btn-redirect btn-tab-right"
                    routerLink="/employee-encashment"><i class="fal fa-arrow-left mr-2"></i> Back to
                        Employee Encashment</button>
                    <div class="d-flex flex-wrap align-items-baseline">
                        <div class="form-group form-input-line col-4">
                            <label class="col-form-label" for="requestNum">Request Number</label>
                            <input readonly type="text" class="form-control"
                                formControlName="requestNum">
                        </div>
                        <div class="form-group form-input-line col-4">
                            <label for="requestDate">Request Date</label>
                            <div class="input-group">
                                <input readonly class="form-control" ngbDatepicker #requestDate="ngbDatepicker"
                                    formControlName="requestDate">
                            </div>
                        </div>
                        <div class="form-group form-input-line col-4">
                            <label class="col-form-label" for="employeeId">Employee</label>
                                    <input readonly class="form-control" 
                                    value="{{selectedDatasource}}">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap align-items-baseline">
                        <div class="form-group form-input-line col-4">
                            <label for="processDate">Process Date</label>
                            <div class="input-group">
                                <input readonly class="form-control" ngbDatepicker #processDate="ngbDatepicker"
                                    formControlName="processDate">
                            </div>
                        </div>
                        <div class="form-group form-input-line col-4">
                            <label class="col-form-label" for="annualLeaveBalance">Annual Leave Balance</label>
                                    <input readonly class="form-control" formControlName="annualLeaveBalance">
                        </div>
                        <div class="form-group form-input-line col-4">
                            <label class="col-form-label" for="approvedAnnualLeave">Encash Annual Leave</label>

                            <input readonly class="form-control"  formControlName="approvedAnnualLeave">

                        </div>
                    </div>
                    <div class="d-flex flex-wrap align-items-baseline">
                      
                    
                        <div class="form-group form-input-line col-4">
                            <label class="col-form-label" for="eosBalanceDays">EOS Balance Days</label>
                            <input readonly class="form-control" formControlName="eosBalanceDays">
                        </div>
                        <div class="form-group form-input-line col-4">
                            <label class="col-form-label" for="approvedEOSDays">Encash EOS Days</label>
                                    <input readonly class="form-control" formControlName="approvedEOSDays" >
                        </div>
                        <div class="form-group form-input-line col-4">
                            <label class="col-form-label" for="accruedTicketAmt">Accrued TicketAmt</label>
                            <input readonly class="form-control"  formControlName="accruedTicketAmt">
                        </div>
                    </div>
                    <div class="d-flex flex-wrap align-items-baseline">
                     
                        <div class="form-group form-input-line col-4">
                            <label class="col-form-label" for="approvedTicketAmt">Encash TicketAmt</label>
                                    <input readonly class="form-control" formControlName="approvedTicketAmt">
                        </div>
                    </div>
              
                    <div class="d-flex flex-wrap align-items-baseline">
                        <div class="form-group form-input-line col-12">
                            <button readonly type="button" class="btn" style="border: 1px solid;margin-left: 78%;" (click)="generateEncashmentSlip()">Generate Encashment Payslip</button>
                            <table class="table m-0">
                                <thead class="thead-themed">
                              
                                    <tr>
                                        <th>Component Code</th>
                                        <th>Name</th>
                                        <th>Days</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let employee of leaveencashmentPayslip; let i= index;">
                                        <td>{{employee.payrollComponentCode}}</td>
                                        <td>{{employee.payrollComponentName}}</td>
                                        <td>{{employee.paidDays}}</td>
                                        <td>{{employee.componentAmt}}</td>
                                    </tr>
                                    <tr  *ngFor="let employee of eosencashmentPayslip; let i= index;">
                                        <td>{{employee.payrollComponentCode}}</td>
                                        <td>{{employee.payrollComponentName}}</td>
                                        <td>{{employee.paidDays}}</td>
                                        <td>{{employee.componentAmt}}</td>
                                    </tr>
                                    <tr  *ngFor="let employee of ticketencashmentPayslip; let i= index;">
                                        <td>{{employee.payrollComponentCode}}</td>
                                        <td>{{employee.payrollComponentName}}</td>
                                        <td>{{employee.paidDays}}</td>
                                        <td>{{employee.componentAmt}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <diV style="display:flex;flex-direction: row;margin-left: 68%;">
                            <label for="netAmount" style="margin-top: 10px;">Net Amount</label>
                            <input readonly class="form-control" style="width: 75%;margin-left: 10px" formControlName="netAmount">
                            </diV>
                        </div>
                        
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>

