<form [formGroup]="editForm" id="DocumentTypeForm" (submit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title">Edit ADOC Earnings And Deductions</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="d-flex flex-wrap align-items-baseline">
            <div class="form-group  col-6">
                <label class="col-form-label" for="employeeId">Employee<span class="required">*</span></label>
                <select class="form-control" formControlName="employeeId">
                    <option [ngValue]="null" disabled>Select Employee</option>
                    <option *ngFor="let list of employeeList" [ngValue]='list.id'>{{list.firstName}}</option>
                </select>
            </div>
            <div class="form-group form-input-inline input-group col-6">
                <label class="col-12 col-form-label px-0" for="date">Date<span class="required">*</span></label>
                <input class="form-control w-75" name="newDate" formControlName="date"
                    [minDate]="{year: 1900, month: 1, day: 1}" ngbDatepicker #dob="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary fal fa-calendar-alt" (click)="dob.toggle()"
                        type="button"></button>
                </div>
            </div>
            <div class="form-group  col-6">
                <label class="col-form-label" for="status">Status<span class="required">*</span></label>
                <input type="text" class="form-control" formControlName="status" disabled>
            </div>
            <div class="form-group  col-6">
                <label class="col-form-label" for="adhocBFCode">ADOC BF Code<span class="required">*</span></label>
                <select class="form-control" formControlName="adhocBFCode">
                    <option [ngValue]=null disabled>Select ADOC BF Code</option>
                    <option *ngFor="let list of benefitTypes" [ngValue]='list.code'>{{list.name}}</option>
                </select>
            </div>
            <div class="form-group  col-6">
                <label for="amount">Amount<span class="required">*</span></label>
                <input type="text" class="form-control" formControlName="amount">
            </div>
            <div class="form-group col-6">
                <label class="col-form-label" for="remarks">Remarks</label>
                <textarea type="text" class="form-control" formControlName="remarks"></textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><i class="mr-1 fal fa-save"></i> Save</button>
        <button type="button" class="btn btn-warning" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><i
                class="mr-1 fal fa-window-close"></i> Cancel</button>
    </div>
</form>