<div class="subheader">
    <h1 class="subheader-title">
        Payroll Processing
    </h1>
</div>
<div class="card p-3">   
        <div class="header-button-wrapper">
            <div class="fs-xs">
                Payroll process list displayed here
            </div>
            <button type="button" class="btn btn-sm btn-success btn-add" [routerLink]="['payroll-process-view']" routerLinkActive="router-link-active" >
               Create Payroll Process
            </button>
        </div>
        <table class="table m-0">
            <thead class="thead-themed">
                <tr>
                    <th>#</th>
                    <th>Payroll Process Name</th>
                    <th>Mode of Processing</th>
                    <th>Payroll/Employee</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let process of payrollProcess; let i= index;">
                    <td>{{i+1}}</td>
                    <td>{{process.name}}</td>
                    <td>{{modeOfPayrollProcessType[process.modeOfProcessing]}}</td>
                    <td>{{process.payGroupOrEmployeeName}}</td>
                    <td>
                        <span *ngIf="process.processedStep ==5">Completed
                            <button title="view" class="border-0 btn btn-outline-primary btn-xs"
                            (click)="viewSummary(process)">
                                <i  class="fal fa-eye  fs-xl"></i>
                              </button>
                        </span>
                        <span *ngIf="process.processedStep != 5">In Progress
                            <button title="continue" class="border-0 btn btn-outline-primary btn-xs"
                                (click)="processSetup(process)"><i class="fal fa-long-arrow-right fs-xl"></i></button></span>
                    </td>
                </tr>
                <tr *ngIf="!payrollProcess?.length">
                    <td colspan="5" class="text-center">
                        No rows found
                    </td>
                </tr>
            </tbody>
        </table>
</div>