<div class="subheader mt-3">
    <h1 class="subheader-title mb-2">
        <div>
            ADOC Earnings & Deductions
        </div>
    </h1>
</div>
<div id="wps" class="panel">
    <div class="panel-container show">
        <div class="panel-content">
            <div class="row">
                <div class="col-md">
                    <button (click)="openCreate()" class="btn btn-success btn-add mb-2 float-right">
                        <i class="fa fal fa-plus fa-plus mr-1"></i>Add ADOC Earnings & Deductions
                    </button>
                </div>
            </div> 
        <div class="frame-wrap">
        <table class="table m-0">
            <thead class="thead-themed">
                <tr>
                    <th>Sl No.</th>
                    <th>Date</th>
                    <th>Employee Code</th>
                    <th>Employee Name</th>
                    <th>BF Code</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let listItem of adocEntryList; let i= index;">
                    <td>{{i+1}}</td>
                    <td>{{ listItem.date | date }}</td>
                    <td>{{ listItem.employeeCode }}</td>
                    <td>{{ listItem.employeeName }}</td>
                    <td>{{ listItem.adhocBFCode}}</td>
                    <td>{{ listItem.amount }}</td>
                    <td>{{ listItem.status==1? 'pending' : listItem.status== 2 ? 'approved' : 'processed' }}</td>
                    <td>
                        
                        <div class="btn-group" dropdown container="main">
                            <button id="button-basic" dropdownToggle type="button"
                                class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                                <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                                aria-labelledby="button-basic">
                                <!-- <li role="menuitem" (click)="openView(employee)"><a class="dropdown-item">View</a></li> -->
                                <li role="menuitem" (click)="openView(listItem)"><a class="dropdown-item">View</a></li>
                                <li role="menuitem" (click)="openEdit(listItem)"><a class="dropdown-item">Edit</a></li>
                                <li role="menuitem" (click)="delete(listItem)"><a class="dropdown-item">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr> 
            
            </tbody>
        </table>
        </div>
    </div>    
</div>

