<form [formGroup]="bankForm" id="bankForm" (validSubmit)="onSubmit()">
    <div class="modal-header">
        <h4 class="modal-title">Create New Bank</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input type="hidden" class="form-control" formControlName="branchId">
        <div class="row">
            <div class="col-sm">
                <div class="form-group ">
                    <label for="bankName">Name of Bank</label>
                    <input type="text" class="form-control" formControlName="bankName">
                </div>
                <div class="form-group ">
                    <label for="accountNumber">Account Number</label>
                    <input type="text" class="form-control" formControlName="accountNumber">
                </div>
                <div class="form-group ">
                    <label for="accountName">Account Name</label>
                    <input type="text" class="form-control" formControlName="accountName">
                </div>
            </div>
            <div class="col-sm">    
                <div class="form-group ">
                    <label for="ifscCode">IFSC Code</label>
                    <input type="text" class="form-control" formControlName="ifscCode">
                </div>
                <div class="form-group ">
                    <label for="branchName">Branch</label>
                    <input type="text" class="form-control" formControlName="branchName">
                </div>
                <div class="form-group ">
                    <label for="corporateId">Corporate ID</label>
                    <input type="text" class="form-control" formControlName="corporateId">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success"><i class="mr-1 fal fa-save"></i> Save</button>
        <button type="button" class="btn btn-warning" (click)="activeModal.close('Close click')"><i
                class="mr-1 fal fa-window-close"></i> Cancel</button>
    </div>
</form>