<div class="p-2">
    <div class="mt-5 h1 text-primary font-weight-bolder">
        HRMS
    </div>

    <div class="h4 ">
        Login
    </div>
    <form [formGroup]="loginForm" (validSubmit)="onSubmit()">
        <div class="text-danger " *ngIf="errorMessage.length">
            {{errorMessage}}
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-12 col-form-label">Username</label>
            <div class="col-12">
                <input type="text" class="form-control" formControlName="username" >
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-12 col-form-label ">Password</label>
            <div class="col-12">
                <input type="password" class="form-control" formControlName="password" >
            </div>
        </div>
        <!-- <div class="form-group row">
            <input type="checkbox" class="form-group ml-3 mt-4">
            <label class="form-check-label">Remember me</label>
        </div> -->
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary text-center col-12"> Login</button>
        </div>
        <!-- <div class="mt-2">
            <a routerLink="/auth/reset-password" routerLinkActive="active">Forgot password</a>
        </div> -->
    </form>
    <div class="position-absolute text-center w-100 text-muted" style="bottom: 0px;">
        Powered by Thomsuninfocare.com
    </div>

</div>
