<div id="leaveComponent" class="p-3">
    <div class="button-right-wrapper">
        <div class="form-outline col-4" style="margin-right: 2px;">
            <input
              class="form-control"
              id="searchKey"
              name="searchKey"
              [(ngModel)]="searchKey"
              type="search"
              placeholder="Search"
              (search)="searchLeave()"
            />
        </div>
          <button
            type="button"
            class="btn btn-outline-primary btn-sm ml-3"
            style="margin-right: 43%;font-size: 14px"
            (click)="searchLeave()"
          >
            <i class="fal fa-search"></i>
          </button>
        <button (click)="openCreateLeaveComponent()" class="btn btn-success btn-add">
            <i class="fa fal fa-plus fa-plus mr-1"></i>Add Leave Component
        </button>
    </div>

    <table class="table m-0">
        <thead class="thead-themed">
            <tr>
                <th>Sl No.</th>
                <th>Leave Component Code</th>
                <th>Leave Component Name</th>
                <!-- <th>Eligibility Base</th> -->
                <!-- <th>Base Type</th> -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let leaveComponent of leaveComponents; let i= index;">
                <td>{{i+1}}</td>
                <td class="text-uppercase">{{leaveComponent.code}}</td>
                <td class="text-capitalize">{{leaveComponent.name}}</td>
                <!-- <td class="text-ellipsis" title="{{ leaveComponent.description }}">{{ leaveComponent.eligibilityBase }}</td> -->
                <!-- <td class="text-ellipsis" title="{{ leaveComponent.description }}">{{basetypes[leaveComponent.baseType] }}</td> -->
                <td>
                    <div class="btn-group" dropdown container="main">
                        <button id="button-basic" dropdownToggle type="button"
                            class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                            <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="button-basic">
                            <!-- <li role="menuitem" (click)="openView(leaveComponent)"><a class="dropdown-item">View</a></li> -->
                            <li role="menuitem" (click)="openEditLeaveComponent(leaveComponent)"><a
                                    class="dropdown-item">Edit</a></li>
                                    <li role="menuitem" (click)="openViewLeaveComponent(leaveComponent)"><a
                                        class="dropdown-item">View</a></li>    
                            <li role="menuitem"
                                (click)="!isDisabled(leaveComponent) && deleteLeaveComponent(leaveComponent)">
                                <a [ngClass]="{'disabled': isDisabled(leaveComponent)}" class="dropdown-item">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!leaveComponents?.length">
                <td colspan="5" class="text-center">
                    No rows found
                </td>
            </tr>
        </tbody>
    </table>

</div>