<div class="p-3">

    <div class="button-right-wrapper">
        <div class="form-outline col-4" style="margin-right: 2px;">
            <input
              class="form-control"
              id="searchKey"
              name="searchKey"
              [(ngModel)]="searchKey"
              type="search"
              placeholder="Search"
              (search)="searchPayrollStructure()"
            />
        </div>
          <button
            type="button"
            class="btn btn-outline-primary btn-sm ml-3"
            style="margin-right: 44.5%;font-size: 14px"
            (click)="searchPayrollStructure()"
          >
            <i class="fal fa-search"></i>
          </button>
            <button class="btn btn-success btn-add" (click)="openCreatePayrollStructure()">
                <i class="fa fal fa-plus fa-plus mr-1"></i>Add Payroll Structure
            </button>
    </div>

    <ngb-accordion [closeOthers]="true" activeIds="static-{{this.firstOpen}}" class="accordion accordion-outline">
        
        <ngb-panel *ngFor="let payrollStructure of payrollStructures;" id="static-{{payrollStructure.id}}"
            title="{{payrollStructure.name}}">
        
            <ng-template ngbPanelHeader let-opened="opened">
        
                <div class="card-header d-inline-flex justify-content-between align-items-center w-100">
        
                    <button ngbPanelToggle class="card-title btn w-100"
                        (click)="getPayrollComponents(payrollStructure.id)">

                        <i class="fal fa-list-alt width-2 fs-xl"></i>
                        <span class="text-capitalize">{{payrollStructure.name}}</span>

                        <i title="Configured" *ngIf="payrollStructure?.isConfigured"
                            class="fal fa-check-circle width-2 fs-xl text-success"></i>

                        <i title="Not Configured" *ngIf="!payrollStructure?.isConfigured"
                            class="fal fa-exclamation-circle width-2 fs-xl text-warning"></i>

                    </button>
                    <button *ngIf="!isDisabled(payrollStructure)" class="btn btn-primary btn-sm text-nowrap mr-2" (click)="openAssignPayrollComponent(payrollStructure)">
                        <i class="fa fal fa-cog mr-1"></i>Configure
                    </button>
        
                    <div class="btn-group" dropdown container="main">
        
                        <button id="button-basic" dropdownToggle type="button"
                            class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                            <span class="caret"></span>
                        </button>
        
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="button-basic">
        
                            <li role="menuitem" (click)="openEditPayrollStructure(payrollStructure)">
                                <a class="dropdown-item">Edit</a>
                            </li>
                            <li role="menuitem" (click)="openViewPayrollStructure(payrollStructure)">
                                <a class="dropdown-item">View</a>
                            </li>  
                            <li role="menuitem"
                                (click)="!isDisabled(payrollStructure) && deletePayrollStructure(payrollStructure)">
                                <a [ngClass]="{'disabled': isDisabled(payrollStructure)}"
                                    class="dropdown-item">Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template ngbPanelContent>

                <!-- <div class="button-right-wrapper" >
                    
                </div> -->

                <table class="table table-striped table-light">
                    <thead class="thead-light">
                        <tr>
                            <th>Sl No.</th>
                            <th>Short Code</th>
                            <th>Name</th>
                            <th>Maximum Limit</th>
                            <!-- <th>Individual Override</th> -->
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let assignedPayrollComponent of assignedPayrollComponents; let i= index;">
                            <td>{{i+1}}</td>
                            <td class="text-uppercase">{{assignedPayrollComponent.shortCode}}</td>
                            <td class="text-capitalize">{{assignedPayrollComponent.name}}</td>
                            <td>
                                {{assignedPayrollComponent.maximumLimit==0? 'No Limit' : assignedPayrollComponent.maximumLimit}}
                            </td>
                            <!-- <td>
                                {{assignedPayrollComponent.isCustomizedAndOverridenAtEmployeeLevel? 'Yes' : 'No'}}
                            </td> -->
                            <td>
                                <div class="btn-group" dropdown container="main">
                                    <button id="button-basic" dropdownToggle type="button"
                                        class="border-0 mr-2 pr-2 dropdown-toggle btn-more"
                                        aria-controls="dropdown-basic">
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                        role="menu" aria-labelledby="button-basic">

                                        <li *ngIf="!isDisabled(payrollStructure)" role="menuitem"  (click)="openPayrollComponentConfiguration(assignedPayrollComponent, false)">
                                            <a class="dropdown-item">Edit</a>
                                        </li>
                                        
                                        <li *ngIf="isDisabled(payrollStructure)" role="menuitem" (click)="openPayrollComponentConfiguration(assignedPayrollComponent, true)">
                                            <a class="dropdown-item">View</a>
                                        </li>

                                        <li role="menuitem"
                                            (click)="!isDisabled(payrollStructure) && removePayrollConfigurationComponent(assignedPayrollComponent)">
                                            <a [ngClass]="{'disabled': isDisabled(payrollStructure)}"
                                                class="dropdown-item">Remove</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!assignedPayrollComponents?.length">
                            <td colspan="6" class="text-center">
                                No rows found
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>