<div id="job-title-list" class="p-3">

    <div class="button-right-wrapper">
        <div class="form-outline col-4" style="margin-right: 2px;">
            <input
              class="form-control"
              id="searchKey"
              name="searchKey"
              [(ngModel)]="searchKey"
              type="search"
              placeholder="Search"
              (search)="searchAssetMetaData()"
            />
        </div>
          <button
            type="button"
            class="btn btn-outline-primary btn-sm ml-3"
            style="margin-right: 48.5%;font-size: 14px"
            (click)="searchAssetMetaData()"
          >
            <i class="fal fa-search"></i>
          </button>
        <button (click)="openCreate()" class="btn btn-success btn-add">
            <i class="fa fal fa-plus fa-plus mr-1"></i>Add Metadata
        </button>
    </div>
    <table class="table m-0">
        <thead class="thead-themed">
            <tr>
                <th>Sl No.</th>
                <th>Asset Type</th>
                <th>Metadata</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let type of assetTypeWithMetadata; let i= index;">
                <td>{{i+1}}</td>
                <td class="text-capitalize">{{ type.assettypename }}</td>
                <td class="text-ellipsis">
                    {{displayMetadata(type)}}
                </td>
                <td>
                    <div class="btn-group" dropdown container="main">
                        <button id="button-basic" dropdownToggle type="button"
                            class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                            <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem" (click)="openView(type.id,type.assettypename,assetMetadata)"><a class="dropdown-item">View</a></li>
                            <li role="menuitem" (click)="openEdit(type.id,type.assettypename,assetMetadata)"><a class="dropdown-item">Edit</a></li>
                            <li role="menuitem" (click)="!isDisabled(type) && delete(type)">
                                <a [ngClass]="{'disabled': isDisabled(type)}" class="dropdown-item">Delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!assetType?.length">
                <td colspan="7" class="text-center">
                    No rows found
                </td>
            </tr>
        </tbody>
    </table>
</div>