<form [formGroup]="editBonusForm" >
    <div class="modal-header">
        <h4 class="modal-title">View Bonus</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <div class="d-flex flex-wrap">
        <div class="form-group col-6">
            <label class=" col-form-label" for="name">Employee Name</label>
            <div class="form-group">
                <input type="text" class="form-control" formControlName="employeeId" [ngbTypeahead]="search"
                    [inputFormatter]="formatter" [resultFormatter]="formatter" editable=false >
            </div>
        </div>

        <div class="form-group col-6">
            <label class=" col-form-label" for="payrollCalendarId">Bonus Type </label>
            <div class="">
                <select class="form-control" formControlName="bonusTypeId">
                    <option [ngValue]="null">Select a Bonus Type</option>
                    <option *ngFor="let bonusType of bonusTypes" [ngValue]="bonusType.id">
                        {{bonusType.name}}
                    </option>
                </select>
            </div>
        </div>


        <div class="form-group col-6">
            <label class=" col-form-label" for="amount">Amount</label>
            <div class="">
                <input type="number" class="form-control" formControlName="amount">
            </div>
        </div>
        <div class="form-group col-6">
            <label class=" col-form-label" for="disburseOn">Disburse On</label>
            <div class="">
                <div class="input-group">
                    <input class="form-control" formControlName="disburseOn" name="newDate" [minDate]="minDate"
                        [maxDate]="maxDate" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary fal fa-calendar-alt" (click)="d.toggle()"
                            type="button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-6">
            <label class=" col-form-label" for="startingYear">Remarks </label>
            <div class="">
                <textarea rows="4" class="form-control" formControlName="remarks">

                    </textarea>
            </div>
        </div>
    </div>
    </div>
</form>
