<div class="col-12 d-flex d-inline p-0">
    <div class="col-lg-9 d-none d-sm-block pb-2" style="background-color: #CCECE9; color: #303953;">
        <div class="font-weight-bold h1 text-center mt-5">
             lorem ipsum is a dummy text 
        </div>
        <div class="h3 text-center mb-5">
            of the printing
        </div>
        <div class="p-6">
            <carousel>
                <slide>
                <img src="assets/img/card-backgrounds/cover-1-lg.png" alt="first slide" style="display: block; width: 100%;">
                </slide>
                <slide>
                <img src="assets/img/card-backgrounds/cover-2-lg.png" alt="second slide" style="display: block; width: 100%;">
                </slide>
                <slide>
                <img src="assets/img/card-backgrounds/cover-3-lg.png" alt="third slide" style="display: block; width: 100%;">
                </slide>
            </carousel>
        </div>
    </div>
    <div class="col-12 col-lg-3 col-md-4">
        <router-outlet></router-outlet>
    </div>

</div>
