<div class="subheader">
    <h1 class="subheader-title">
        <div>
            Employee Directory
        </div>
    </h1>
</div>
<div id="employee-list" class="panel">
    <div class="card p-3">
        <div class="button-right-wrapper">
            <button (click)="openCreate()" class="btn btn-success btn-add">
                <i class="fa fal fa-plus fa-plus mr-1"></i>Add Employee
            </button>
        </div>
        <table class="table m-0">
            <thead class="thead-themed">
                <tr>
                    <th>Sl No.</th>
                    <th>Employee Code</th>
                    <th>Employee Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees; let i= index;">
                    <td>{{i+1}}</td>
                    <td>{{ employee.employeeNumber }}</td>
                    <td class="text-capitalize">{{employee.firstName}} {{employee.lastName}}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ (departmentType[employee.department]) }}</td>
                    <td class="text-capitalize">{{ showLocation(employee.location) }}</td>
                    <td>
                        <div class="btn-group" dropdown container="main">
                            <button id="button-basic" dropdownToggle type="button"
                                class="border-0 mr-2 pr-2 dropdown-toggle btn-more" aria-controls="dropdown-basic">
                                <span class="caret"></span>
                            </button>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                                aria-labelledby="button-basic">
                                <li role="menuitem" (click)="openView(employee)"><a class="dropdown-item">View</a></li>
                                <li role="menuitem" (click)="openEdit(employee)"><a class="dropdown-item">Edit</a></li>
                                <li role="menuitem" (click)="delete(employee)"><a class="dropdown-item">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr *ngIf="!employees?.length">
                    <td colspan="6" class="text-center">
                        No rows found
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>