<form>
    <div class="modal-header">
        <h4 class="modal-title">User Variable</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row align-items-baseline">
              <div class="form-group input-group form-input-inline col-sm-4">
                <label class="col-form-label col-12 px-0" for="code">Code</label>
                <input type="text" class="form-control" name="code" value="{{ userDetails.code }}" disabled>
            </div>
            <div class="form-group input-group form-input-inline col-sm-4">
                <label class="col-form-label col-12 px-0" for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ userDetails.name }}" disabled>
            </div>
            <div class="form-group input-group form-input-inline col-sm-4">
                <label class="col-form-label col-12 px-0" for="type">Type</label>
                <input type="text" class="form-control" id="type" name="type" value="{{ userDetails.type}}" disabled>
            </div>
        </div>
        <div class="row align-items-baseline">
            <div class="form-group input-group form-input-inline col-sm-4">
                <label class="col-form-label col-12 px-0" for="status">Status</label>
                <input type="text" class="form-control" id="status" name="status" value="{{  userDetails.status==true ? 'Active' : 'InActive' }}" disabled>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</form>

