<form [formGroup]="viewForm">
  <div class="modal-header">
    <h4 class="modal-title">View Previous Employment</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm">
        <div class="form-group">
          <label for="companyName">Company Name</label>
          <input
            type="text"
            readonly
            class="form-control"
            formControlName="companyName"
          />
        </div>
        <div class="form-group">
          <label for="jobTitle">Job Title</label>
          <input
            type="text"
            readonly
            class="form-control"
            formControlName="jobTitle"
          />
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input
            type="text"
            readonly
            class="form-control"
            formControlName="location"
          />
        </div>
      </div>

      <div class="col-sm">
        <div class="form-group">
          <label for="dateOfJoining">Date of Joining</label>
          <div class="input-group">
            <input
              class="form-control"
              type="date"
              readonly
              formControlName="dateOfJoining"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="dateOfRelieving">Date of Relieving</label>
          <div class="input-group">
            <input
              class="form-control"
              type="date"
              readonly
              formControlName="dateOfRelieving"
            />
          </div>
        </div>
        <div class="form-group col-sm">
          <div
            formGroupName="document"
            [ngClass]="{ 'text-primary': !isDisabled, disabled: isDisabled }"
          >
            <label>
              <input
                type="file"
                [disabled]="isDisabled"
                multiple
                style="display: none"
                accept="application/msword, application/pdf, image/*"
              />

              <i class="fal fa-paperclip"></i>
              <a class="link"> Attachment</a>
            </label>
          </div>
          <div class="upload-file" id="file-name">
            {{ fileName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
